<template>
    <div>
        <chart-header
            title="Vendas x Período"
            :loading="loading"
            @search="fetchOrders"
        ></chart-header>

        <line-chart 
            class="block-chart-container" 
            v-if="!firstLoad" 
            :chart-data="orders" 
            :options="graphOptions"
        ></line-chart>
    </div>
</template>

<script>
import moment from 'moment';
import axios from 'axios';
import _ from 'lodash';
import numeral from 'numeral';

import lineVue from '../charts/line.vue';
import chart_headerVue from '../charts/chart_header.vue';

moment.locale('pt-BR');

export default {
    components: {
        'chart-header': chart_headerVue,
        'line-chart': lineVue,
    },
    data() {
        return {
            orders: null,
            graphOptions: {
                responsive: true,
                maintainAspectRatio: false,
                legend: {
                    display: false,
                },
                scales: {
                    xAxes: [{
                        type: 'time',
                    }],
                    yAxes: [
                        {
                            ticks: {
                                callback: (label, index, labels) => 'R$ ' + numeral(label).format('0,0.00')
                            },
                        }
                    ],
                },
                tooltips: {
                    callbacks: {
                        title: (tooltip, data) => data.labels[tooltip[0].index].format('DD/MM/YYYY'),
                        label: (tooltip, data) => 'R$ ' + numeral(Number(tooltip.value)).format('0,0.00'),
                    }
                }
            },
            loading: true,
            firstLoad: true,
        }
    },
    created() {
        this.fetchOrders().then(() => {
            this.firstLoad = false;
        });
    },
    methods: {
        fetchOrders(startDate, endDate) {
            return new Promise(resolve => {
                this.loading = true;
    
                var data = {
                    start_date: startDate || moment().startOf('month').format('DD/MM/YYYY'),
                    end_date: endDate || moment().endOf('month').format('DD/MM/YYYY'),
                };
    
                axios.post('/orders/by-date', data).then(response => {
                    var labels = [];
                    var data = [];
    
                    _.each(response.data, (count, date) => {
                        labels.push(moment(date));
                        data.push(Number(count));
                    });
    
                    this.orders = {
                        labels,
                        datasets: [{
                            data,
                            borderColor: 'rgba(0, 105, 217, 0.8)',
                            backgroundColor: 'rgba(0, 105, 217, 0.4)',
                        }]
                    };
    
                    this.loading = false;

                    resolve(true);
                });
            });
        }
    }
}
</script>