<%
    className = ''

    if controller_name == 'balcony' and action_name == 'index'
        className = 'active'
    end
%>
<li><a href="/" class="<%= className %>"><i class="fas fa-concierge-bell"></i></a></li>

<%
    className = ''

    if controller_name == 'balcony' and action_name == 'finalized'
        className = 'active'
    end
%>
<li><a href="<%= balcony_finalized_path %>" class="<%= className %>"><i class="fa fa-clipboard-check"></i></a></li>

<%
    active = false

    if controller_name == 'balcony' and action_name == 'checkout'
        active = true
    end
%>
<li><checkout-menu-button :active="<%= active %>" /></li>

<%
    className = ''

    if controller_name == 'comandas' and action_name == 'check_comanda'
        className = 'active'
    end
%>
<li><a href="<%= comandas_check_path %>" class="<%= className %>"><i class="fa fa-qrcode"></i></a></li>

<li><a href="<%= destroy_user_session_path %>"><i class="fa fa-power-off"></i></a></li>