<%
className = ''

if controller_name == 'home'
    className = 'active'
end
%>

<li class="nav-item">
    <a href="/" class="nav-link <%= className %>">
        <i class="nav-icon fa fa-home"></i>
        <p>Home</p>
    </a>
</li>

<% if policy(:table).index? %>
    <%
        className = ''

        if controller_name == 'tables'
            className = 'active'
        end
    %>

    <li class="nav-item">
        <a href="<%= tables_path %>" class="nav-link <%= className %>">
            <i class="fa fa-square nav-icon"></i>
            <p>Mesas</p>
        </a>
    </li>
<% end %>

<% if policy(:comanda).index? %>
    <%
        className = ''

        if controller_name == 'comandas'
            className = 'active'
        end
    %>

    <li class="nav-item">
        <a href="<%= comandas_path %>" class="nav-link <%= className %>">
            <i class="fa fa-qrcode nav-icon"></i>
            <p>Comandas</p>
        </a>
    </li>
<% end %>

<%
    className = ''

    if controller_name == 'cardapio'
        className = 'active'
    end

    if controller_name == 'produtos'
        className = 'active'
    end
%>

<li class="nav-item">
    <a href="<%= cardapio_index_path %>" class="nav-link <%= className %>">
        <i class="nav-icon fa fa-utensils"></i>
        <p>
        Cardápio
        </p>
    </a>
</li>

<% if policy(:book).index? %>
    <%
        className = ''

        if controller_name == 'books'
            className = 'active'
        end
    %>

    <li class="nav-item">
        <a href="<%= books_path %>" class="nav-link <%= className %>">
            <i class="fa fa-book nav-icon"></i>
            <p>Livros</p>
        </a>
    </li>
<% end %>

<% if policy(:event).index? %>
    <%
        className = ''

        if controller_name == 'events'
            className = 'active'
        end
    %>

    <li class="nav-item">
        <a href="<%= events_path %>" class="nav-link <%= className %>">
            <i class="fa fa-calendar-alt nav-icon"></i>
            <p>Eventos</p>
        </a>
    </li>
<% end %>

<% if policy(:banner).index? %>
    <%
        className = ''

        if controller_name == 'banners'
            className = 'active'
        end
    %>

    <li class="nav-item">
        <a href="<%= banners_path %>" class="nav-link <%= className %>">
            <i class="fa fa-images nav-icon"></i>
            <p>Banners</p>
        </a>
    </li>
<% end %>

<% if policy(:order).index? %>
    <%
        className = ''

        if controller_name == 'orders'
            className = 'active'
        end
    %>

    <li class="nav-item">
        <a href="<%= orders_path %>" class="nav-link <%= className %>">
            <i class="fa fa-receipt nav-icon"></i>
            <p>Pedidos</p>
        </a>
    </li>
<% end %>

<%
className = ''

if controller_name == 'users'
    className = 'menu-open'
end

if controller_name == 'categories_books' 
    className = 'menu-open'
end

if controller_name == 'categorias' 
    className = 'menu-open'
end

if controller_name == 'company_data' 
    className = 'menu-open'
end
%>

<li class="nav-item has-treeview <%= className %>">
    <a href="#" class="nav-link">
        <i class="nav-icon fa fa-cog"></i>
        <p>
        Configurações
        <i class="right fa fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <% if policy(:category_book).index? %>
            <%
                className = ''

                if controller_name == 'categories_books'
                    className = 'active'
                end
            %>

            <li class="nav-item">
                <a href="<%= categories_books_path %>" class="nav-link <%= className %>">
                    <i class="fa fa-list nav-icon"></i>
                    <p>Categorias (Livros)</p>
                </a>
            </li>
        <% end %>

        <% if policy(:company_data).index? %>
            <%
                className = ''

                if controller_name == 'company_data'
                    className = 'active'
                end
            %>

            <li class="nav-item">
                <a href="<%= company_data_index_path %>" class="nav-link <%= className %>">
                    <i class="fa fa-store-alt nav-icon"></i>
                    <p>Empresa</p>
                </a>
            </li>
        <% end %>

        <% if policy(:user).index? %>
            <%
                className = ''

                if controller_name == 'users' and action_name != 'profile'
                    className = 'active'
                end
            %>

            <li class="nav-item">
                <a href="<%= users_path %>" class="nav-link <%= className %>">
                    <i class="fa fa-users nav-icon"></i>
                    <p>Usuários</p>
                </a>
            </li>
        <% end %>

        <%
            className = ''

            if controller_name == 'users' and action_name == 'profile'
                className = 'active'
            end
        %>

        <li class="nav-item">
            <a href="<%= users_profile_path %>" class="nav-link <%= className %>">
                <i class="fa fa-user nav-icon"></i>
                <p>Perfil</p>
            </a>
        </li>
    </ul>
</li>