<%= form_for([@produto, @variante, @itens_variante], html: { id: "itens-variante" }) do |f| %>
  
    <% if @itens_variante.errors.any? %>
        <div id="error_explanation">
        <h2><%= pluralize(@itens_variante.errors.count, "error") %> prohibited this variante from being saved:</h2>

        <ul>
        <% @itens_variante.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
        </ul>
        </div>
    <% end %>

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <%= f.label :nome, 'Nome' %>
                        <%= f.text_field :nome, class: 'required form-control', autofocus: true %>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <%= f.label :valor_adicional, 'Valor Adicional' %>
                        <%= f.number_field :valor_adicional, step: :any, class: "form-control money" %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-success btn-lg mb-3"><i class="fa fa-check"></i> Salvar</button>

<% end %>
