<div class="row my-2">
    <div class="col-md-6">
        <% if policy(:produto).create? %>
            <a href="<%= new_produto_variante_itens_variante_path(@produto, @variante) %>" class="btn btn-primary"><i class="fa fa-plus"></i> Novo Item</a>
        <% end %>
    </div>
</div>
<% if !@itens_variantes.empty? %>

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table id="itens-variante-list" class="table table-hover table-sm">
            <thead>
              <tr>
                <td>
                  Item
                </td>
                <td>
                  Valor Adicional
                </td>
                <td>
                  
                </td>
              </tr>
            </thead>
            <tbody>
              <% @itens_variantes.each do |itens_variante| %>
                <tr>
                  <td>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" <%= itens_variante.habilitado==true ? 'checked' : '' %>  data-produto-id="<%= @produto.id %>" data-itens-variante-id="<%= itens_variante.id %>" data-variante-id="<%= @variante.id %>" class="itemvariante-habilitado-toggle custom-control-input" id="<%= itens_variante.id%>">
                      <label class="custom-control-label" for="<%= itens_variante.id%>"><%= itens_variante.nome%></label>
                    </div>
                  </td>
                  <td>
                    <%= itens_variante.valor_adicional == 0 ? "-" : number_to_currency(itens_variante.valor_adicional)%>
                  </td>
                  <td class="text-right">
                    <% if policy(@produto).edit? %>
                      <%= link_to edit_produto_variante_itens_variante_path(@produto, @variante, itens_variante), class: 'btn btn-primary btn-sm' do %>
                        <i class="fa fa-pencil-alt"></i> Editar
                      <%end%>
                    <% end %>
                    <% if policy(@produto).destroy? %>
                      <%= link_to produto_variante_itens_variante_path(@produto, @variante, itens_variante), method: :delete, data: { confirm: 'Tem certeza que deseja remover?' }, class: 'btn btn-danger btn-sm' do %>
                        <i class="fa fa-trash"></i> Excluir
                      <%end%>
                    <%end%>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<% else %>
    <div class="empty-data-container">
        <i class="fas fa-align-justify fa-9x"></i>
        <p>Nenhuma item encontrado</p>
    </div>
<% end %>