
<% if !@categorias.empty? %>

<div class="row">
    <div class="col-md-4">
        <div id='app'>
            <listacategorias :categorias="<%=@categorias.to_json%>"></listacategorias>
        </div>
    </div>
    <div class="col-md-8">
        <div id="accordion">
        <% 
            cont = 0
            contsub = 0
            contprod = 0
            contvar = 0
            @categorias.each do |categoria| 
                #byebug
                cont = cont + 1
        %>
        <div class="card s_panel" data-categoria-id="<%=categoria.id%>">
            <div data-categoria-id="<%=categoria.id%>" class="card-header">
            <div class="row">
                <div class="col-md-11">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" <%= categoria.habilitado==true ? 'checked' : '' %>  data-categoria-id="<%= categoria.id %>" class="categoria-habilitado-toggle custom-control-input" id="<%= categoria.id%>">
                        <label class="custom-control-label" for="<%= categoria.id%>"><%= categoria.nome%></label>
                    </div>
                </div>
                <%if categoria.subcategorias.length > 0%>
                <div class="col-md-1 justify-content-end">
                    <button class="btn btn-primary btn-sm btn-plus" <%= categoria.habilitado==false ? 'disabled' : '' %> data-categoria-id="<%=categoria.id%>" data-toggle="collapse" data-target="#collapse<%=cont%>" aria-expanded="true" aria-controls="collapseOne">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
                <%end%>
            </div>
            </div>
            <div id="collapse<%=cont%>" class="collapse" data-produto-categoria-id="<%=categoria.id%>" data-parent="#accordion">
                <div class="accordionsubs">
                    <% 
                        categoria.subcategorias.order_by(posicao: :asc).each do |subcategoria| 
                        contsub = contsub + 1
                    %>
                    <div class="card s_panel" data-categoria-id="<%=categoria.id%>" data-subcategoria-id="<%=subcategoria.id%>">
                        <div data-subcategoria-id="<%=subcategoria.id%>" class="card-header">
                            <div class="row">
                                <div class="col-md-11">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" <%= subcategoria.habilitado==true ? 'checked' : '' %> data-categoria-id="<%= subcategoria.categoria.id %>" class="sub-categoria-habilitado-toggle custom-control-input" id="<%= subcategoria.id%>">
                                        <label class="custom-control-label" for="<%= subcategoria.id%>"><%= subcategoria.nome%></label>
                                    </div>
                                </div>
                                <%if subcategoria.produtos.length > 0%>
                                <div class="col-md-1 justify-content-end">
                                    <button class="btn btn-primary btn-sm btn-plus-sub" <%= subcategoria.habilitado==false ? 'disabled' : '' %> data-subcategoria-id="<%=subcategoria.id%>" data-toggle="collapse" data-target="#collapsesub<%=contsub%>" aria-expanded="true" aria-controls="collapseOne">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                                <%end%>
                            </div>
                        </div>

                        <div id="collapsesub<%=contsub%>" class="collapse" data-produto-subcategoria-id="<%=subcategoria.id%>" data-parent=".accordionsubs">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="accordionProduto">
                                        <%
                                        subcategoria.produtos.each do |produto|
                                        contprod = contprod + 1 
                                        %>
                                        <ul>
                                            <li class="accordionVariante li-produto" data-produto-id="<%=produto.id%>">

                                            <div data-produto-id="<%=produto.id%>" class="custom-control custom-checkbox">
                                                <input type="checkbox" <%= produto.habilitado==true ? 'checked' : '' %>  data-produto-id="<%= produto.id %>" data-subcategoria-id="<%= produto.subcategorias.id %>" class="produto-habilitado-toggle custom-control-input" id="<%= produto.id%>">
                                                <label class="custom-control-label" for="<%= produto.id%>"><%= produto.nome%></label>
                                                <%if produto.variantes.length > 0%>
                                                <button data-produto-id="<%=produto.id%>" class="btn btn-sm btn-link btn-plus-prod" data-toggle="collapse" data-target="#collapseprod<%=contprod%>" aria-expanded="true" aria-controls="collapseOne">
                                                        <i class="fas fa-plus"></i>
                                                </button>
                                                <%end%>
                                            </div>
                                            
                                            <div id="collapseprod<%=contprod%>" class="collapse div-variantes" aria-labelledby="headingOne" data-parent=".accordionProduto">
                                                <%
                                                produto.variantes.each do |variante|
                                                contvar = contvar + 1
                                                %>
                                                <ul>
                                                    <li data-variante-id="<%=variante.id%>">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" <%= variante.habilitado==true ? 'checked' : '' %>  data-produto-id="<%= produto.id %>" data-variante-id="<%= variante.id %>" class="variante-habilitado-toggle custom-control-input" id="<%= variante.id%>">
                                                        <label class="custom-control-label" for="<%= variante.id%>"><%= variante.nome%></label>
                                                        <%if variante.itens_variante.length > 0%>
                                                        <button data-variante-id="<%=variante.id%>" class="btn btn-link btn-plus-var" data-toggle="collapse" data-target="#collapsevar<%=contvar%>" aria-expanded="true" aria-controls="collapseOne">
                                                            <i class="fas fa-plus"></i>
                                                        </button> 
                                                        <%end%>
                                                    </div>
                                                    </li>
                                                    <%if variante.itens_variante.length > 0%>
                                                    <li id="collapsevar<%=contvar%>" class="collapse li-itens-variantes" aria-labelledby="headingOne" data-parent=".accordionVariante">
                                                    <% variante.itens_variante.each do |itens_variante| %>
                                                        <ul>
                                                            <li>
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" <%= itens_variante.habilitado==true ? 'checked' : '' %>  data-produto-id="<%= produto.id %>" data-itens-variante-id="<%= itens_variante.id %>" data-variante-id="<%= variante.id %>" class="itemvariante-habilitado-toggle custom-control-input" id="<%= itens_variante.id%>">
                                                                <label class="custom-control-label" for="<%= itens_variante.id%>"><%= itens_variante.nome%></label>
                                                            </div>
                                                            </li>
                                                        </ul>
                                                    <% end %>  
                                                    </li>
                                                    <%end%>
                                                </ul>
                                                <% end %>  
                                            </div>
                                            
                                            </li>
                                        </ul>
                                        <% end %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%end%>
                </div>
            </div>
        </div>
        <%end%>
        </div>
    </div>
</div>
<% else %>
    <div class="empty-data-container">
        <i class="fas fa-clipboard-list fa-9x"></i>
        <p>Nenhuma categoria encontrada</p>
    </div>
<% end %>