<div class="my-3 row align-items-center pagination-container">
    <div class="col-md-6">
        <%= page_entries_info model %>
    </div>

    <div class="col-md-6 text-right">
        <%= paginate model, theme: 'twitter-bootstrap-4' %>
    </div>
</div>