<template>
    <a href="/balcony/checkout" class="checkout-button" :class="{ 'active': active }">
        <i class="fa fa-cash-register"></i>

        <span 
            class="badge badge-pill badge-warning checkout-button-counter"
            v-if="waitingCount != 0"
        >{{ waitingCount }}</span>
    </a>
</template>

<script>
import axios from 'axios';
import Pusher from 'pusher-js';

export default {
    props: ['active'],
    data() {
        return {
            waitingCount: 0,
        }
    },
    created() {
        this.getCheckoutWaiting();

        var pusher = new Pusher('02e5d0d0a4ff877c7256', {
            cluster: 'us2',
            forceTLS: true
        });

        var channel = pusher.subscribe('orders-channel');

        channel.bind('update-closed-accounts', data => {
            this.getCheckoutWaiting();
        });
    },
    methods: {
        getCheckoutWaiting() {
            axios.get('/balcony/fetch-checkout-waiting').then(response => {
                this.waitingCount = response.data;
            });
        }
    }
}
</script>