<template>
    <div class="number-spinner-container">
        <button @click="decrease()" class="dec-button" :disabled="getMinDisabled()"><i class="fa fa-minus"></i></button>

        <div class="number-container">{{ value }}</div>

        <button @click="increase()" class="inc-button" :disabled="getMaxDisabled()"><i class="fa fa-plus"></i></button>
    </div>
</template>

<script>
export default {
    props: [
        'max',
        'min',
        'initialValue',
        'disabled',
    ],
    data() {
        return {
            value: this.initialValue || 0, 
        }
    },
    methods: {
        decrease() {
            if (!this.disabled) {
                if (this.min) {
                    if (this.value > parseInt(this.min)) {
                        this.value--;
                    }
                } else {
                    this.value--;
                }
    
                this.$emit('change', this.value);
            }
        },
        increase() {
            if (!this.disabled) {
                if (this.max) {
                    if (this.value < parseInt(this.max)) {
                        this.value++;
                    }
                } else {
                    this.value++;
                }
    
                this.$emit('change', this.value);
            }
        },
        getMinDisabled() {
            if (this.disabled) {
                return true;
            }

            if (this.min && this.value <= this.min) {
                return true;
            }

            return false;
        },
        getMaxDisabled() {
            if (this.disabled) {
                return true;
            }

            if (this.max && this.value >= this.max) {
                return true;
            }

            return false;
        },
    }
}
</script>