<template>
    <div class="requests-list">
        <div class="row align-items-center my-3">
            <div class="col-md-8">
                <h2 class="text-left">Pedidos entregues hoje</h2>
            </div>

            <div class="col-md-4">
                <input type="text" class="form-control" placeholder="Buscar..." v-model="orderSearch" @keyup="searchOrders()">
            </div>
        </div>

        <div v-if="filteredOrders.length != 0" class="orders-list">
            <div class="card collapsed-card" v-for="order in filteredOrders" :key="order.id">
                <div class="card-header">
                    <div class="row no-gutters align-items-center">
                        <div class="col-1 show-more request-item mb-2 mb-md-0">
                            <a href="" data-widget="collapse">
                                <i class="fa fa-chevron-down"></i>
                            </a>
                        </div>

                        <div class="col-md-4 col-11 request-name request-item mb-2 mb-md-0">
                            Pedido {{ order.numero | formatNumber('0000') }}
                        </div>

                        <div class="col-md-3 col-sm-4 time request-item mb-2 mb-sm-0">
                            <div class="row">
                                <div class="col-6">
                                    {{ order.created_at | formatTime }}
                                    <small>Abertura</small>
                                </div>

                                <div class="col-6">
                                    {{ order.tempo_total }}

                                    <small>Total</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-4 col-6 table request-item">
                            <small>Mesa</small>

                            {{ order.table.numero | formatNumber('00') }}
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="request-products-list">
                        <ul>
                            <li 
                                v-for="(p, index) in order.products"
                                :p="p"
                                :index="index"
                                :key="p.id"
                            >
                                <div class="product-details">
                                    <div class="product-title"><strong>{{ p.quantity | formatNumber('00') }}</strong> {{ p.name }}</div>

                                    <div class="product-details" v-if="p.observation">{{ p.observation }}</div>

                                    <div class="product-variants">
                                        <ul>
                                            <li
                                                v-for="(v, index) in p.variants"
                                                v-bind:v="v"
                                                v-bind:index="index"
                                                v-bind:key="v.id">
                                                <strong>{{ v.quantity | formatNumber('00') }}</strong> {{ v.name }}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div v-else>
            <div class="empty-data-container">
                <img src="/assets/receipt.png">

                <p>Nenhum pedido encontrado</p>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
import _ from 'lodash';
import Pusher from 'pusher-js';

export default {
    props: [],
    data: function () {
      return {
        orders: [],
        filteredOrders: [],
        orderSearch: '',
        open: [],
      }
    },
    created() {
        this.fetchOrders().then(() => {
            this.filter();
        });

        var pusher = new Pusher('02e5d0d0a4ff877c7256', {
            cluster: 'us2',
            forceTLS: true
        });

        var channel = pusher.subscribe('orders-channel');
        channel.bind('update-orders', data => {
            this.fetchOrders().then(() => {
                this.filter();
            });
        });
    },
    methods: {
        fetchOrders() {
            return new Promise((resolve, reject) => {
                axios.get('/balcony/fetch-finalized').then(response => {
                    this.orders = response.data;

                    resolve(true);
                });
            });
        },
        filter(search) {
            if (search) {
                this.filteredOrders = _.filter(this.orders, o => {
                    return _.find(o.products, p => p.name.toLowerCase().includes(search.toLowerCase()));
                });
            } else {
                this.filteredOrders = this.orders;
            }
        },
        searchOrders() {
            this.filter(this.orderSearch);
        },
    }
}
</script>