<template>
  <div class="col-md-4 col-sm-12">
    <div class="card">
      <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
          <h3 class="card-title">MESA {{ table | formatNumber('00') }}</h3>

          <button class="btn btn-sm btn-link" v-if="!editMode && !closing" @click="editTable()">
            <i class="fa fa-pencil-alt"></i>
          </button>
        </div>
      </div>

      <b-tabs small>
        <b-tab
          :title="'Comanda ' + c.number"
          v-for="c in comandas"
          :key="c.number"
          @click="getActiveComanda(c)"
        >
          <orders-checkout-comanda
            :comanda="c"
            :editMode="editMode"
            :table="table"
            :raw="raw"
            :changeRaw="changeRaw"
            :setSuccess="setSuccess"
            :closing="closing"
            :setClosing="setClosing"
          />
        </b-tab>
      </b-tabs>

      <div class="card-footer">
        <div class="d-flex justify-content-between align-items-center">
          <h5 class="mb-0">Total: {{ getTotalTable() | toCurrency }}</h5>

          <div v-if="!editMode" class="btn-toolbar">
            <b-button v-if="!closing" size="sm" variant="primary" @click="closeTable()">Fechar Mesa</b-button>
            <b-button v-else variant="primary" disabled>
              <i class="fa fa-spinner fa-spin"></i>
            </b-button>
          </div>
          <div v-else class="btn-toolbar">
            <!-- <button v-if="!updating" class="btn btn-danger mr-3" @click="cancelEdit()">Cancelar</button>
            <button v-else class="btn btn-danger mr-3" disabled>
              <i class="fa fa-spinner fa-spin"></i>
            </button>

            <button v-if="!updating" class="btn btn-success" @click="saveEdit()">Salvar</button>
            <button v-else class="btn btn-success" disabled>
              <i class="fa fa-spinner fa-spin"></i>
            </button>-->

            <button class="btn btn-success" @click="saveEdit()">Finalizar edição</button>
          </div>
        </div>
      </div>
    </div>

    <b-modal id="restricted-access-modal" title="Permissão necessária">
      <p
        class="text-center"
      >Esta ação necessita de permissão para ser executada, por favor, entre com uma senha de administrador:</p>

      <div v-if="authError" class="alert alert-danger text-center">{{ authError }}</div>

      <div class="form-group">
        <label>E-mail</label>
        <input type="text" name="email" class="form-control" v-model="authEmail" />
      </div>

      <div class="form-group">
        <label>Senha</label>
        <input type="password" class="form-control" name="password" v-model="authPassword" />
      </div>

      <div slot="modal-footer" class="w-100" slot-scope="{ cancel }">
        <div class="btn-toolbar justify-content-between">
          <button
            type="button"
            v-if="!authenticating"
            class="btn btn-danger"
            @click="cancel()"
          >Cancelar</button>
          <button v-else disabled class="btn btn-danger">
            <i class="fa fa-spinner fa-spin"></i>
          </button>

          <button
            v-if="!authenticating"
            type="button"
            class="btn btn-success"
            @click="authenticate()"
          >Autenticar</button>
          <button v-else disabled class="btn btn-success">
            <i class="fa fa-spinner fa-spin"></i>
          </button>
        </div>
      </div>
    </b-modal>
  </div>
</template>

<script>
import axios from "axios";
import numeral from "numeral";
import _ from "lodash";

export default {
  props: ["comandas", "table", "raw", "changeRaw", 'setSuccess'],
  data() {
    return {
      closing: false,
      editMode: false,
      authEmail: "",
      authPassword: "",
      authenticating: false,
      updating: false,
      authError: null,
      oldRaw: {}
    };
  },
  mounted() {},
  methods: {
    getActiveComanda(tab) {
      this.$parent.tabActive = tab;
    },
    getTotalTable() {
      var total_mesa = 0;

      for (var comandaNumber in this.comandas) {
        for (var productIndex in this.comandas[comandaNumber].products) {
          if (
            this.comandas[comandaNumber].status !=
            "waiting_payment_no_comission"
          ) {
            total_mesa +=
              parseFloat(
                this.comandas[comandaNumber].products[productIndex].value
              ) * 1.1;
          } else {
            total_mesa += parseFloat(
              this.comandas[comandaNumber].products[productIndex].value
            );
          }
        }
      }

      return total_mesa;
    },
    closeTable() {
      if (confirm(`Tem certeza que deseja fecha a Mesa ${numeral(this.table).format("00")}?`)) {
        this.closing = true;

        var data = {
          table: this.table,
          comandas: _.map(this.comandas, c => c.number)
        };

        axios.post("/balcony/close-table/", data).then(response => {
          // this.$parent.fetchTables().then(() => {
          //   this.closing = false;

          //   this.$parent.success = true;
          //   this.$parent.successMsg = `A Mesa ${numeral(this.table).format(
          //     "00"
          //   )} foi fechada com sucesso`;
          // });

          // resolve(true);

          this.setSuccess(`A Mesa ${numeral(this.table).format("00")} foi fechada com sucesso`);
          this.closing = false;
        });
      }
    },
    closeComanda(comanda) {
      if (
        confirm(
          `Tem certeza que deseja fechar a Comanda ${numeral(comanda).format(
            "00"
          )}?`
        )
      ) {
        this.closing = true;

        var data = {
          comanda
        };

        axios.post("/balcony/close-comanda/", data).then(response => {
          this.$parent.fetchTables().then(() => {
            this.closing = false;

            this.$parent.success = true;
            this.$parent.successMsg = `A Comanda ${numeral(comanda).format(
              "00"
            )} foi fechada com sucesso`;
          });
        });
      }
    },
    editTable() {
      this.$bvModal.show("restricted-access-modal");

      var raw = JSON.parse(JSON.stringify(this.raw));
      this.oldRaw = raw[this.table];
    },
    authenticate() {
      this.authenticating = true;
      this.authError = null;

      var data = {
        email: this.authEmail,
        password: this.authPassword
      };

      axios.post("/api/v1/auth", data).then(response => {
        if (response.data.error != true) {
          this.editMode = true;
          this.$bvModal.hide("restricted-access-modal");
        } else {
          this.authError = response.data.message;
        }

        this.authenticating = false;
      });
    },
    cancelEdit() {
      if (confirm("Tem certeza que deseja cancelar a edição?")) {
        this.editMode = false;

        var raw = JSON.parse(JSON.stringify(this.raw));

        raw[this.table] = this.oldRaw;

        this.changeRaw(raw);
      }
    },
    saveEdit() {
      this.editMode = false;

      //   for (var o of this.$refs.ordersItems) {
      //     if (!o.toBeDeleted) {
      //       var data = {
      //         order_id: o.product.order_id,
      //         product_id: o.product.id,
      //         quantity: o.productQuantity
      //       };

      //       await axios.put("/balcony/product-quantity", data);
      //     } else {
      //       await axios.delete(
      //         `/balcony/order-product/${o.product.order_id}/${o.product.id}`
      //       );
      //     }
      //   }

      //   this.$parent.fetchTables().then(() => {
      //     this.editMode = false;
      //     this.updating = false;
      //   });
    },
    setClosing(value) {
      this.closing = value;
    }
  }
};
</script>