<template>
    <div class="card collapsed-card" ref="orderCard" :class="{ 'danger': order.late }">
        <div class="card-header">
            <div class="order-row">
                <div class="show-more">
                    <a href @click="toggleCard()" data-widget="collapse">
                        <i v-if="!open" class="fa fa-chevron-down"></i>
                        <i v-else class="fa fa-chevron-up"></i>
                    </a>
                </div>

                <div class="pedido-number">Pedido {{ order.numero | formatNumber('0000') }}</div>

                <div class="time">
                    <div class="created">
                        {{ order.created_at | formatTime }}
                        <small>Abertura</small>
                    </div>

                    <div v-if="!order.tempo_total" class="elapsed">
                        {{ elapsedTime }}
                        <small>Aguardando</small>
                    </div>
                    <div v-else class="elapsed">
                        {{ order.tempo_total }}
                        <small>Total</small>
                    </div>
                </div>

                <div class="table-number">
                    <small>Mesa</small>
                    {{ order.table | formatNumber('00') }}
                </div>

                <div class="actions">
                    <!-- <select class="status-select form-control" v-model="order.status" @change="changeStatus()" ref="statusSelect">
                        <option value="open">Em aberto</option>
                        <option value="preparing">Em andamento</option>
                        <option value="canceled">Cancelado</option>
                        <option value="done">Concluído</option>
                        <option value="finalized" v-if="$parent.user.role == 'balcony'">Entregue</option>
                    </select>-->

                    <ul class="order-status-actions">
                        <li>
                            <a
                                href
                                class="text-primary"
                                :class="getOrderStatusClass('open')"
                                @click.prevent="changeStatus('open')"
                            >
                                <i class="fa fa-clock"></i> Em aberto
                            </a>
                        </li>
                        <li>
                            <a
                                href
                                class="text-primary"
                                :class="getOrderStatusClass('preparing')"
                                @click.prevent="changeStatus('preparing')"
                            >
                                <i class="fa fa-running"></i> Em andamento
                            </a>
                        </li>
                        <li v-if="$parent.user.role == 'balcony'">
                            <a
                                href
                                class="text-success"
                                :class="getOrderStatusClass('finalized')"
                                @click.prevent="changeStatus('finalized')"
                            >
                                <i class="fa fa-thumbs-up"></i> Entregue
                            </a>
                        </li>
                        <li v-else>
                            <a
                                href
                                class="text-success"
                                :class="getOrderStatusClass('done')"
                                @click.prevent="changeStatus('done')"
                            >
                                <i class="fa fa-thumbs-up"></i> Concluído
                            </a>
                        </li>
                        <li>
                            <a
                                href
                                class="text-danger"
                                :class="getOrderStatusClass('canceled')"
                                @click.prevent="changeStatus('canceled')"
                            >
                                <i class="fa fa-trash-alt"></i> Cancelado
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="request-products-list">
                <ul>
                    <li v-for="(p, index) in order.products" :p="p" :index="index" :key="p.id">
                        <div class="product-details">
                            <div class="product-title">
                                <strong>{{ p.quantity | formatNumber('00') }}</strong>
                                {{ p.name }}
                            </div>

                            <div class="product-details" v-if="p.observation">{{ p.observation }}</div>

                            <div class="product-variants">
                                <ul>
                                    <li
                                        v-for="(v, index) in getVariants(p)"
                                        v-bind:v="v"
                                        v-bind:index="index"
                                        v-bind:key="v.id"
                                    >
                                        <strong>{{ v.quantity | formatNumber('00') }}</strong>
                                        {{ v.name }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
import _ from "lodash";
import axios from "axios";

export default {
    props: ["order", "index"],
    data() {
        return {
            elapsedTime: "00h00",
            open: false
        };
    },
    updated() {
        this.getElapsedTime();
    },
    mounted() {
        // $(this.$refs.statusSelect).chosen({
        //     disable_search_threshold: 10,
        // }).change((event, params) => {
        //     this.changeStatus(params.selected);
        // });

        this.getElapsedTime();

        setInterval(() => {
            this.getElapsedTime();
        }, 60000);
    },
    methods: {
        changeStatus(status) {
            if (this.order.status != status) {
                this.order.status = status;

                this.$parent.filter(this.$parent.currentStatus);

                var data = {
                    id: this.order["_id"],
                    status: status
                };

                if (
                    status == "canceled" ||
                    status == "done" ||
                    status == "finalized"
                ) {
                    data.total_time = this.elapsedTime;

                    this.order.tempo_total = this.elapsedTime;
                }

                axios.post("/balcony/order", data);
            }

            // var status = $(this.$refs.statusSelect).val();

            // if (status != "open" && status != "preparing") {
            //     this.order.late = false;
            // }

            // //var orderIndex = _.findIndex(this.$parent.orders, o => o['_id']['$oid'] == this.order['_id']['$oid']);
            // var orderIndex = _.findIndex(
            //     this.$parent.orders,
            //     o => o["_id"] == this.order["_id"]
            // );

            // this.$parent.orders[orderIndex].status = status;
        },
        canViewProduct(product) {
            switch (this.$parent.user.role) {
                case "kitchen":
                    return product.tipo == "cozinha";

                case "balcony":
                    return (
                        product.tipo == "balcao" || product.tipo == "cozinha"
                    );

                default:
                    return false;
            }
        },
        getElapsedTime() {
            var diff = moment().diff(moment(this.order.created_at));

            if (diff / 1000 / 60 >= 30) {
                if (
                    this.order.status == "open" ||
                    this.order.status == "preparing"
                ) {
                    this.order.late = true;

                    this.$parent.filter(this.$parent.currentStatus);
                }
            }

            this.elapsedTime = moment.utc(diff).format("HH[h]mm");
        },
        toggleCard() {
            if ($(this.$refs.orderCard).hasClass("collapsed-card")) {
                this.open = true;
            } else {
                this.open = false;
            }
        },
        getVariants(product) {
            var result = [];
            for (var v of product.variants) {
                if (v.quantity) {
                    result.push(v);
                }

                if (!v.quantity && v.selected) {
                    result.push(v);
                }
            }

            return result;
        },
        getOrderStatusClass(status) {
            return this.order.status != status ? "inactive" : "";
        }
    }
};
</script>