<template>
    <tr :class="getRowClass()">
        <td class="text-center align-middle">
            <number-spinner min="1" :disabled="toBeDeleted" :initialValue="productQuantity" @change="setQuantity" />
        </td>
        <td class="text-center align-middle">{{ item.pedido | formatNumber('0000') }}</td>
        <td class="align-middle">{{ item.name }}</td>
        <td class="text-right align-middle">{{ getValue() | formatNumber('0,0.00') }}</td>
        <td class="text-center align-middle">
            <button class="btn btn-sm btn-danger" v-if="!toBeDeleted" @click="markToDelete()">
                <i class="fa fa-trash"></i>
            </button>
            <button class="btn btn-sm btn-secondary" v-else @click="undoMarkToDelete()">
                <i class="fa fa-undo"></i>
            </button>
        </td>
    </tr>
</template>

<script>
import _ from "lodash";

export default {
    props: ["item", "comanda", "table", "rawItems", "index", "changeRawItems"],
    watch: {
        productQuantity: function(value) {
            //   var raw = JSON.parse(JSON.stringify(this.raw));

            //   raw[this.table][this.comanda.number].products[
            //     this.index
            //   ].quantity = parseInt(value);

            //   this.changeRaw(raw);

            var raw = JSON.parse(JSON.stringify(this.rawItems));

            var productIndex = _.findIndex(
                raw,
                p => p.id == this.item.id && p.pedido == this.item.pedido
            );

            raw[productIndex].quantity = parseInt(value);

            this.changeRawItems(raw);
        }
    },
    data() {
        return {
            productQuantity: this.item.quantity,
            toBeDeleted: false
        };
    },
    methods: {
        getValue() {
            var value = this.item.value;

            if (this.item.variants) {
                for (var v of this.item.variants) {
                    if (v.quantity) {
                        value += v.quantity * v.value;
                    } else {
                        if (v.selected) {
                            value += v.value;
                        }
                    }
                }
            }

            return value * this.productQuantity;
        },
        markToDelete() {
            this.toBeDeleted = true;

            //   var raw = JSON.parse(JSON.stringify(this.raw));

            //   raw[this.table][this.comanda.number].products[this.index].delete = true;

            //   this.changeRaw(raw);

            var raw = JSON.parse(JSON.stringify(this.rawItems));

            var productIndex = _.findIndex(
                raw,
                p => p.id == this.item.id && p.pedido == this.item.pedido
            );

            raw[productIndex].delete = true;

            this.changeRawItems(raw);
        },
        undoMarkToDelete() {
            this.toBeDeleted = false;

            //   var raw = JSON.parse(JSON.stringify(this.raw));

            //   delete raw[this.table][this.comanda.number].products[this.index].delete;

            //   this.changeRaw(raw);

            var raw = JSON.parse(JSON.stringify(this.rawItems));

            var productIndex = _.findIndex(
                raw,
                p => p.id == this.item.id && p.pedido == this.item.pedido
            );

            delete raw[productIndex].delete;

            this.changeRawItems(raw);
        },
        getRowClass() {
            if (this.toBeDeleted) {
                return "table-danger";
            }
        },
        setQuantity(value) {
            this.productQuantity = value;
        }
    }
};
</script>