<template>
    <div>
        <div class="body-table overflow-auto">
            <table class="table table-hover table-borderless m-0">
                <tbody>
                    <orders-checkout-item
                        v-for="(p, productId) in comanda.products"
                        :key="productId"
                        :product="p"
                        :editMode="editMode"
                        :table="table"
                        :comanda="comanda"
                        :raw="raw"
                        :changeRaw="changeRaw"
                        ref="ordersItems"
                    ></orders-checkout-item>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3" class="text-right">
                            <div v-if="comanda.status == 'waiting_payment_no_comission'">
                                <strong>
                                    Total da Comanda: {{ total() | toCurrency }}
                                </strong>
                            </div>

                            <div v-else>
                                <small style="display: block">
                                    Subtotal: {{ total() | toCurrency }}
                                </small>

                                <small style="display: block">
                                    Taxa de Serviço (10%): {{ total() * 0.1 | toCurrency }}
                                </small>

                                <strong>
                                    Total da Comanda: {{ total() * 1.1 | toCurrency }}
                                </strong>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="text-center card-body">
            <div v-if="!editMode" class="btn-toolbar justify-content-center">
                <b-button size="sm" v-if="!closing" :disabled="editMode" variant="secondary" @click="closeComanda()">
                    Fechar Comanda
                </b-button>
                <b-button v-else variant="secondary" disabled><i class="fa fa-spinner fa-spin"></i></b-button>
            </div>
        </div>
    </div>
</template>

<script>
import numeral from 'numeral';
import axios from 'axios';

export default {
    props: [
        'comanda',
        'closing',
        'editMode',
        'table',
        'raw',
        'changeRaw',
        'setSuccess',
        'setClosing',
    ],
    data() {
        return {
            
        }
    },
    methods: {
        total(){
            var total = 0;

            for (var productId in this.comanda.products){
                total += parseFloat(this.comanda.products[productId].value);
            }

            return total;
        },
        closeComanda() {
            if (confirm(`Tem certeza que deseja fechar a Comanda ${numeral(this.comanda.number).format("00")}?`)) {
                this.setClosing(true);

                var data = {
                    comanda: this.comanda.number
                };

                axios.post("/balcony/close-comanda/", data).then(response => {
                    // this.$parent.fetchTables().then(() => {
                    //     this.closing = false;

                        this.setSuccess(`A Comanda ${numeral(this.comanda.number).format("00")} foi fechada com sucesso`);
                        this.setClosing(false);
                    // });

                    // alert(`A Comanda ${numeral(this.comanda.number).format("00")} foi fechada com sucesso`);
                    // location.reload();
                });
            }
        },
    }
}
</script>