<template>
    <div id="orders">
        <nav class="balcony-main-filters">
            <ul>
                <li>
                    <a href @click.prevent="filter('open')" :class="getItemFilterClass('open')">
                        <div class="card">
                            <div class="card-body">
                                Em aberto
                                <span class="badge badge-pill">{{ getTotalOrders('open') }}</span>
                            </div>
                        </div>
                    </a>
                </li>
                <!-- <li>
                    <a href="" @click.prevent="filter('preparing')" :class="getItemFilterClass('preparing')">
                        <div class="card">
                            <div class="card-body">Andamento <span class="badge badge-pill">{{ getTotalOrders('preparing') }}</span></div>
                        </div>
                    </a>
                </!-->
                <li>
                    <a href @click.prevent="filter('late')" :class="getItemFilterClass('late')">
                        <div class="card">
                            <div class="card-body">
                                Atrasados
                                <span class="badge badge-pill">{{ getTotalOrders('late') }}</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a
                        href
                        @click.prevent="filter('canceled')"
                        :class="getItemFilterClass('canceled')"
                    >
                        <div class="card">
                            <div class="card-body">
                                Cancelados
                                <span
                                    class="badge badge-pill"
                                >{{ getTotalOrders('canceled') }}</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href @click.prevent="filter('done')" :class="getItemFilterClass('done')">
                        <div class="card">
                            <div class="card-body">
                                Concluídos
                                <span
                                    class="badge badge-pill"
                                >{{ getTotalOrders('done') }}</span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </nav>

        <div v-if="filteredOrders.length != 0" class="orders-list">
            <order-item v-for="order in filteredOrders" :key="order.id" :order="order" />
        </div>
        <div v-else>
            <div class="empty-data-container">
                <img src="assets/receipt.png" />

                <p>Nenhum pedido encontrado</p>
            </div>
        </div>

        <b-modal no-close-on-backdrop id="closeaccount-modal" title="Fechar Conta">
            <div id="waiter-called-container">
                <img src="assets/wallet.png" />
                <p>A mesa {{ waiterTable | formatNumber('00') }} está fechando a conta</p>
            </div>

            <template slot="modal-footer">
                <a href="/balcony/checkout" class="btn btn-primary">Checkout</a>
            </template>
        </b-modal>
    </div>
</template>

<script>
import _ from "lodash";
import axios from "axios";
import Pusher from "pusher-js";

export default {
    props: ["user"],
    data: function() {
        return {
            orders: [],
            filteredOrders: [],
            currentStatus: "open",
            waiterTable: null
        };
    },
    created() {
        this.fetchOrders().then(() => {
            this.filter(this.currentStatus);
        });

        var pusher = new Pusher("02e5d0d0a4ff877c7256", {
            cluster: "us2",
            forceTLS: true
        });

        var channel = pusher.subscribe("orders-channel");
        channel.bind("update-orders", data => {
            this.fetchOrders().then(() => {
                this.filter(this.currentStatus);
            });
        });

        channel.bind("close-account", data => {
            this.onCloseAccount(data.table);
        });
    },
    methods: {
        fetchOrders() {
            return new Promise((resolve, reject) => {
                axios.get("/balcony/orders").then(response => {
                    var orders = response.data;

                    for (var index in orders) {
                        orders[index].products = _.reject(
                            orders[index].products,
                            p => !this.canViewProduct(p)
                        );

                        if (orders[index].products.length == 0) {
                            delete orders[index];
                        }
                    }

                    this.orders = orders;

                    resolve(true);
                });
            });
        },
        getTotalOrders(status) {
            if (status == "late") {
                return _.countBy(this.orders, { late: true }).true || 0;
            } else if (status == "open") {
                return (
                    _.countBy(
                        this.orders,
                        o =>
                            o && (o.status == "open" || o.status == "preparing")
                    ).true || 0
                );
            } else {
                return _.countBy(this.orders, { status: status }).true || 0;
            }
        },
        filter(status) {
            this.filteredOrders = [];

            if (status == "late") {
                this.filteredOrders = _.filter(this.orders, { late: true });
            } else if (status == "open") {
                this.filteredOrders = _.filter(
                    this.orders,
                    o => o && (o.status == "open" || o.status == "preparing")
                );
            } else {
                this.filteredOrders = _.filter(this.orders, { status: status });
            }

            this.currentStatus = status;
        },
        getItemFilterClass(status) {
            if (status == "late") {
                if (this.getTotalOrders("late") != 0) {
                    return "danger";
                } else {
                    if (status == this.currentStatus) {
                        return "active";
                    }
                }
            } else if (status == "done") {
                if (
                    this.getTotalOrders("done") != 0 &&
                    this.user.role == "balcony"
                ) {
                    return "warning";
                } else {
                    if (status == this.currentStatus) {
                        return "active";
                    }
                }
            } else {
                if (status == this.currentStatus) {
                    return "active";
                }
            }
        },
        canViewProduct(product) {
            switch (this.user.role) {
                case "kitchen":
                    return product.tipo == "cozinha";

                case "balcony":
                    return (
                        product.tipo == "balcao" || product.tipo == "cozinha"
                    );

                default:
                    return false;
            }
        },
        onCloseAccount(table) {
            if (this.user.role == "balcony") {
                this.waiterTable = table;

                this.$bvModal.show("closeaccount-modal");
            }
        }
    }
};
</script>