<template>
  <div class="table-list">
    <div class="row align-items-center my-3">
      <div class="col-md-8">
        <h2 class="text-left">Fechar Conta</h2>
      </div>

      <!-- <div class="col-md-4">
                <input type="text" class="form-control" placeholder="Buscar Comanda..." v-model="tableSearch" @keyup="searchTables()">
      </div>-->
    </div>

    <b-alert variant="success" dismissible v-model="success">{{ successMsg }}</b-alert>

    <div v-if="isEmptyTables()">
      <div class="empty-data-container">
        <img src="/assets/receipt.png" />

        <p>Nenhum pedido encontrado</p>
      </div>
    </div>
    <div v-else class="row">
      <orders-checkout-table
        v-for="(comandas, table) in tables"
        :key="table"
        :comandas="comandas"
        :table="table"
        :raw="raw"
        :changeRaw="changeRaw"
        :setSuccess="setSuccess"
      ></orders-checkout-table>
    </div>
    
  </div>
</template>

<script>
import axios from "axios";
import _ from "lodash";
import Pusher from "pusher-js";

export default {
  props: [],
  data: function() {
    return {
      raw: [],
      tables: {},
      filteredTables: [],
      tableSearch: "",
      tabActive: "",
      totalTable: "",
      open: [],
      closing: false,
      success: false,
      successMsg: null
    };
  },
  created() {
    this.fetchTables().then(() => {});

    var pusher = new Pusher("02e5d0d0a4ff877c7256", {
      cluster: "us2",
      forceTLS: true
    });

    var channel = pusher.subscribe("orders-channel");
    channel.bind("update-closed-accounts", data => {
      this.fetchTables().then(() => {});
    });
  },
  watch: {
    raw: function(value) {
      this.parseValues();
    }
  },
  methods: {
    fetchTables() {
      return new Promise((resolve, reject) => {
        axios.get("/balcony/fetch-checkout").then(response => {
          this.raw = response.data;

          // this.parseValues();

          resolve(true);
        });
      });
    },
    parseValues() {
      var buffer = {};

      for (var tableNumber in this.raw) {
        if (!buffer[tableNumber]) {
          buffer[tableNumber] = {};
        }

        for (var comandaNumber in this.raw[tableNumber]) {
          if (!buffer[tableNumber][comandaNumber]) {
            buffer[tableNumber][comandaNumber] = {};
          }

          buffer[tableNumber][comandaNumber].number = this.raw[tableNumber][
            comandaNumber
          ].number;
          buffer[tableNumber][comandaNumber].status = this.raw[tableNumber][
            comandaNumber
          ].status;

          if (!buffer[tableNumber][comandaNumber].products) {
            buffer[tableNumber][comandaNumber].products = {};
          }

          for (var p of this.raw[tableNumber][comandaNumber].products) {
            if (!p.delete) {
              if (!buffer[tableNumber][comandaNumber].products[p.id]) {
                buffer[tableNumber][comandaNumber].products[p.id] = {};
              }

              if (!buffer[tableNumber][comandaNumber].products[p.id].quantity) {
                buffer[tableNumber][comandaNumber].products[p.id].quantity = 0;
              }

              if (!buffer[tableNumber][comandaNumber].products[p.id].value) {
                buffer[tableNumber][comandaNumber].products[p.id].value = 0;
              }

              buffer[tableNumber][comandaNumber].products[p.id].id = p.id;
              buffer[tableNumber][comandaNumber].products[p.id].name = p.name;
              buffer[tableNumber][comandaNumber].products[p.id].quantity += p.quantity;

              buffer[tableNumber][comandaNumber].products[p.id].value += p.value * p.quantity;

              if (p.variants) {
                for (var v of p.variants) {
                  if (v.quantity) {
                      buffer[tableNumber][comandaNumber].products[p.id].value += v.value * v.quantity;
                  } else {
                      if (v.selected) {
                          buffer[tableNumber][comandaNumber].products[p.id].value += v.value;
                      }
                  }
                }
              }
            }
          }
        }
      }

      this.tables = buffer;
    },
    printCheckOut(print) {
      return new Promise((resolve, reject) => {
        axios.post("/api/v1/checkout/print", print).then(response => {
          resolve(true);
        });
      });
    },
    filter(search) {
      if (search) {
        this.filteredTables = _.filter(this.tables, t => {
          return _.find(t.comandas, c => c.codigo == search);
        });
      } else {
        this.filteredTables = this.tables;
      }
    },
    searchTables() {
      this.filter(this.tableSearch);
    },
    check: function(item, comandas) {
      item.checked = !item.checked;

      this.getTotalTable(comandas);
    },
    setActive: function(tab) {
      var self = this;
      tab.isActive = true;
      this.activeTab = tab;
    },
    pad(num, size) {
      var s = num + "";
      while (s.length < size) s = "0" + s;
      return s;
    },
    showMsgBox(msg) {
      this.boxTwo = "";
      this.$bvModal
        .msgBoxOk(msg, {
          title: "Sucesso",
          size: "sm",
          buttonSize: "sm",
          okVariant: "success",
          headerClass: "p-2 border-bottom-0",
          footerClass: "p-2 border-top-0",
          centered: true
        })
        .then(value => {
          //this.boxTwo = value
        })
        .catch(err => {
          // An error occurred
        });
    },
    editTable(table) {},
    changeRaw(data) {
      this.raw = data;
    },
    setSuccess(message) {
        this.success = true;
        this.successMsg = message;
    },
    isEmptyTables() {
        return _.isEmpty(this.tables);
    }
  }
};
</script>