<template>
    <tr>
        <td class="align-middle">{{ product.quantity | formatNumber('00') }}</td>
        <!-- <td v-else>
            <input 
                type="number" 
                class="form-control form-control-sm quantity-update-input" 
                min="1" 
                v-model="productQuantity"
            >
        </td>-->

        <td class="align-middle">{{ product.name }}</td>
        <td class="text-right align-middle">{{ getProductValue() | toCurrency }}</td>

        <td class="align-middle">
            <div class="table-actions" v-if="editMode">
                <button class="btn btn-sm btn-primary" @click="showEditModal()">
                    <i class="fa fa-pencil-alt"></i>
                </button>

                <!-- <button class="btn btn-sm btn-danger" v-if="!toBeDeleted" @click="markToDelete()"><i class="fa fa-trash"></i></button>
                <button class="btn btn-sm btn-secondary" v-else @click="undoMarkToDelete()"><i class="fa fa-undo"></i></button>-->
            </div>
        </td>

        <b-modal
            no-close-on-backdrop
            no-close-on-esc
            hide-header-close
            :id="`edit-modal-${table}-${comanda.number}-${product.id}`"
            :title="`Mesa ${table} > Comanda ${comanda.number}`"
            size="lg"
        >
            <h6 class="d-flex justify-content-between mb-3">
                <div>{{ product.name }}</div>

                <div>{{ getRawTotalValue() | toCurrency }}</div>
            </h6>

            <table class="table table-hover table-sm table-borderless">
                <thead>
                    <tr>
                        <th class="text-center">Qtd.</th>
                        <th class="text-center">Pedido</th>
                        <th>Produto</th>
                        <th class="text-right">Valor</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <orders-checkout-edit-item
                        v-for="(i, index) in rawItems"
                        :key="index"
                        :item="i"
                        :index="index"
                        :table="table"
                        :comanda="comanda"
                        :rawItems="rawItems"
                        :changeRawItems="changeRawItems"
                    />
                </tbody>
            </table>

            <div slot="modal-footer" slot-scope="{ cancel }">
                <div class="btn-toolbar justify-content-between">
                    <button
                        type="button"
                        v-if="!saving"
                        class="btn btn-danger mr-2"
                        @click="cancel()"
                    >Cancelar</button>
                    <button v-else disabled class="btn btn-danger mr-2">
                        <i class="fa fa-spinner fa-spin"></i>
                    </button>

                    <button
                        v-if="!saving"
                        type="button"
                        class="btn btn-success"
                        @click="save()"
                    >Salvar</button>
                    <button v-else disabled class="btn btn-success">
                        <i class="fa fa-spinner fa-spin"></i>
                    </button>
                </div>
            </div>
        </b-modal>
    </tr>
</template>

<script>
import _ from "lodash";
import axios from "axios";

export default {
    props: ["product", "editMode", "table", "comanda", "raw", "changeRaw"],
    data() {
        return {
            productQuantity: this.product.quantity,
            productSingleValue: this.product.value / this.product.quantity,
            toBeDeleted: false,
            modalVisible: false,
            rawItems: [],
            saving: false
        };
    },
    created() {
        this.rawItems = _.filter(
            this.raw[this.table][this.comanda.number].products,
            p => p.id == this.product.id
        );
    },
    methods: {
        editItem() {
            this.modalVisible = true;
        },
        markToDelete() {
            this.toBeDeleted = true;
        },
        undoMarkToDelete() {
            this.toBeDeleted = false;
        },
        getRowClass() {
            if (this.toBeDeleted) {
                return "table-danger";
            }

            if (this.productQuantity != this.product.quantity) {
                return "table-warning";
            }
        },
        getProductValue() {
            return this.productSingleValue * this.product.quantity;
        },
        getRawTotalValue() {
            var total = 0;

            for (var i of this.rawItems) {
                if (!i.delete) {
                    total += i.value * i.quantity;

                    if (i.variants) {
                        for (var v of i.variants) {
                            if (v.quantity) {
                                total += v.quantity * v.value * i.quantity;
                            } else {
                                if (v.selected) {
                                    total += v.value;
                                }
                            }
                        }
                    }
                }
            }

            return total;
        },
        showEditModal() {
            this.$bvModal.show(
                `edit-modal-${this.table}-${this.comanda.number}-${this.product.id}`
            );
        },
        changeRawItems(data) {
            this.rawItems = data;
        },
        save() {
            if (confirm("Tem certeza que deseja salvar?")) {
                this.saving = true;

                axios
                    .put("/balcony/products-update", { data: this.rawItems })
                    .then(() => {
                        location.reload();
                    });
            }
        }
    }
};
</script>