<template>
    <b-modal no-close-on-backdrop id="waiter-modal" title="Garçom chamado">
        <div id="waiter-called-container">
            <img src="/assets/waiter.png" />

            <p>A mesa {{ waiterTable | formatNumber('00') }} está chamando o garçom</p>
        </div>

        <template slot="modal-footer" slot-scope="{ ok }">
            <button class="btn btn-primary" @click="ok()">OK</button>
        </template>
    </b-modal>
</template>

<script>
import Pusher from "pusher-js";

export default {
    props: ["user"],
    data() {
        return {
            waiterTable: 0
        };
    },
    created() {
        var pusher = new Pusher("02e5d0d0a4ff877c7256", {
            cluster: "us2",
            forceTLS: true
        });

        var channel = pusher.subscribe("orders-channel");
        channel.bind("call-waiter", data => {
            this.onWaiterCalled(data.table);
        });
    },
    methods: {
        onWaiterCalled(table) {
            if (this.user.role == "balcony") {
                this.waiterTable = table;

                new Audio("/assets/ding_ding.mp3").play();

                this.$bvModal.show("waiter-modal");
            }
        }
    }
};
</script>