<%= form_for @companyData, html: { id: 'company-data-form' } do |f| %>

<div class="card">
    <div class="card-body">
        <div class="form-group">
            <%= f.label :nome, 'Nome' %>
            <%= f.text_field :nome, class: 'form-control', autofocus: true %>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <%= f.label :cnpj, 'CNPJ' %>
                    <%= f.text_field :cnpj, class: 'form-control' %>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <%= f.label :cep, 'CEP' %>
                    <%= f.text_field :cep, class: 'form-control' %>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <%= f.label :endereco, 'Endereço' %>
                    <%= f.text_field :endereco, class: 'form-control' %>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <%= f.label :numero, 'Número' %>
                    <%= f.text_field :numero, class: 'form-control' %>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <%= f.label :complemento, 'Complemento' %>
                    <%= f.text_field :complemento, class: 'form-control' %>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <%= f.label :bairro, 'Bairro' %>
                    <%= f.text_field :bairro, class: 'form-control' %>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <%= f.label :cidade, 'Cidade' %>
                    <%= f.text_field :cidade, class: 'form-control' %>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <%= f.label :uf, 'UF' %>
                    <%= f.select :uf, @ESTADOS_BRASILEIROS, { include_blank: true }, { class: 'form-control' } %>
                </div>
            </div>
        </div>
    </div>
</div>

<button type="submit" class="btn btn-success btn-lg mb-3"><i class="fa fa-check"></i> Salvar</button>

<% end %>