<template>
  <div>
    <chart-header title="Garçom chamado" :loading="loading" @search="fetchWaitersCalled"></chart-header>

    <bar-chart
      class="block-chart-container"
      v-if="!firstLoad && !isEmpty"
      :chart-data="orders"
      :options="graphOptions"
    ></bar-chart>

    <div v-if="isEmpty" class="empty-data-container">
      <figure>
        <img src="assets/servant-outline.png" />
      </figure>

      <p>Nenhum garçom foi chamado nesse período</p>
    </div>
  </div>
</template>

<script>
import moment from "moment";
import axios from "axios";
import _ from "lodash";
import numeral from "numeral";

import chart_headerVue from "../charts/chart_header.vue";
import barVue from "../charts/bar.vue";

moment.locale("pt-BR");

export default {
  components: {
    "chart-header": chart_headerVue,
    "bar-chart": barVue
  },
  data() {
    return {
      orders: null,
      graphOptions: {
        responsive: true,
        maintainAspectRatio: false,
        legend: {
          display: false
        },
        scales: {
          xAxes: [
            {
              ticks: {
                callback: (label, index, labels) =>
                  `Mesa ${numeral(label).format("00")}`
              }
            }
          ],
          yAxes: [
            {
              beginAtZero: true,
              ticks: {
                stepSize: 1
              }
            }
          ]
        },
        tooltips: {
          callbacks: {
            title: (tooltip, data) =>
              `Mesa ${numeral(data.labels[tooltip[0].index]).format("00")}`,
            label: (tooltip, data) =>
              tooltip.value == 1 ? "1 vez" : `${tooltip.value} vezes`
          }
        }
      },
      loading: true,
      firstLoad: true,
      isEmpty: true
    };
  },
  created() {
    this.fetchWaitersCalled().then(() => {
      this.firstLoad = false;
    });
  },
  methods: {
    fetchWaitersCalled(startDate, endDate) {
      return new Promise(resolve => {
        this.loading = true;

        var data = {
          start_date:
            startDate ||
            moment()
              .startOf("month")
              .format("DD/MM/YYYY"),
          end_date:
            endDate ||
            moment()
              .endOf("month")
              .format("DD/MM/YYYY")
        };

        axios.post("/waiter-calls", data).then(response => {
          var labels = [];
          var data = [];

          _.each(response.data, (values, table) => {
            labels.push(table);
            data.push(values.length);
          });

          if (data.length === 0) {
            this.isEmpty = true;
          } else {
            this.isEmpty = false;
          }

          this.orders = {
            labels,
            datasets: [
              {
                data,
                borderColor: "rgba(0, 105, 217, 0.8)",
                backgroundColor: "rgba(0, 105, 217, 0.4)"
              }
            ]
          };

          this.loading = false;

          resolve(true);
        });
      });
    }
  }
};
</script>