<%= form_for @category, html: { id: 'category-book-form' } do |f| %>

<div class="card">
    <% if @category.new_record? %>
        <div class="card-header">
            <h3 class="card-title">Nova Categoria</h3>
        </div>
    <% end %>

    <div class="card-body">
        <div class="form-group">
            <%= f.label :nome, 'Nome' %>
            <%= f.text_field :nome, class: 'form-control' %>
        </div>
    </div>
</div>

<button type="submit" class="btn btn-success btn-lg"><i class="fa fa-check"></i> Salvar</button>

<% end %>