<div class="row">
    <div class="col-md-7">
        <div class="card">
            <div class="card-body">
                <table id="categories-books-list" class="table table-hover table-sm">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th data-orderable="false"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @categories.each do |c| %>
                            <tr>
                                <td><%= c.nome %></td>
                                <td>
                                    <div class="table-actions">
                                        <% if policy(c).edit? %>
                                            <a href="<%= edit_category_book_path c %>" class="btn btn-primary btn-sm"><i class="fa fa-pencil-alt"></i> Editar</a>
                                        <%end%>

                                        <% if policy(c).destroy? %>
                                            <%= link_to category_book_path(c), method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' }, class: 'btn btn-danger btn-sm' do %>
                                                <i class="fa fa-trash"></i> Excluir
                                            <%end%>
                                        <%end%>
                                    </div>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <% if policy(:category_book).create? %>
        <div class="col-md-5">
            <%= render 'form' %>
        </div>
    <% end %>
</div>