<%= form_for @banner, html: { id: 'banner-form' } do |f| %>
  <% if !@banner.new_record? %>
    <%= f.hidden_field :id %>
  <% end %>

  <div class="card">
    <div class="card-body">
      <div class="form-group">
        <%= f.label :texto, 'Texto' %>
        <%= f.text_field :texto, class: 'form-control' %>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :imagem, 'Imagem' %>
            <%= f.file_field :imagem, class: 'form-control' %>
          </div>
        </div>

        <div class="col-md-3">
          <%= f.label :data_inicio, 'Início' %>
          <%= f.text_field :data_inicio, class: 'form-control datepicker', value: @banner.data_inicio_human %>
        </div>

        <div class="col-md-3">
          <%= f.label :data_fim, 'Fim' %>
          <%= f.text_field :data_fim, class: 'form-control datepicker', value: @banner.data_fim_human %>
        </div>
      </div>
    </div>
  </div>

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Associar banner</h3>
        </div>

        <div class="card-body">
            <div class="my-2">
                <div class="form-check form-check-inline">
                    <%
                    checked = ''

                    if @banner.new_record?
                        checked = 'checked'
                    else
                        if @banner.produto_id
                            checked = 'checked'
                        end
                    end
                    %>

                    <input 
                        class="form-check-input" 
                        type="radio" 
                        name="banner_association_choice" 
                        id="banner_association_choice_product" 
                        value="product"
                        <%= checked %>
                    >
                    <label class="form-check-label" for="banner_association_choice_product">Produto</label>
                </div>

                <div class="form-check form-check-inline">
                    <%
                    checked = ''

                    if @banner.event_id
                        checked = 'checked'
                    end
                    %>

                    <input 
                        class="form-check-input" 
                        type="radio" 
                        name="banner_association_choice" 
                        id="banner_association_choice_event" 
                        value="event"
                        <%= checked %>
                    >
                    <label class="form-check-label" for="banner_association_choice_event">Evento</label>
                </div>
            </div>

            <div class="row" id="product-select-container">
                <div class="col-md-6">  
                    <div class="form-group">
                        <%= f.label :produto, 'Produto' %>
                        <%= f.collection_select :produto_id, @products, :id, :nome, { include_blank: true }, { class: 'form-control select-2' } %>
                    </div>
                </div>
            </div>

            <div class="row" id="event-select-container">
                <div class="col-md-6">  
                    <div class="form-group">
                        <%= f.label :event, 'Evento' %>
                        <%= f.collection_select :event_id, @events, :id, :nome, { include_blank: true }, { class: 'form-control select-2' } %>
                    </div>
                </div>
            </div>
        </div>
    </div>

  <button type="submit" class="btn btn-success btn-lg"><i class="fa fa-check"></i> Salvar</button>
<% end %>