<div class="row my-2">
    <div class="col-md-6">
      <% if policy(:banner).create? %>
        <a href="<%= new_banner_path %>" class="btn btn-primary"><i class="fa fa-plus"></i> Novo Banner</a>
      <% end %>
    </div>

    <div class="col-md-6 text-right">
      <%= form_tag '', method: :get do %>
        <div class="input-group">
          <%= text_field_tag 'q', params[:q], class: 'form-control', placeholder: 'Buscar' %>
          
          <div class="input-group-append">
            <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
          </div>
        </div>
      <% end %>
    </div>
</div>

<% if !@banners.empty? %>
  <div class="row" id="banners-list">
    <% @banners.each do |b| %>
      <div class="col-md-3 mb-3">
        <div class="card h-100">
          <img src="<%= b.imagem %>" class="card-img-top">

          <div class="card-body">
            <p class="card-text"><%= b.texto %></p>

            <% if b.data_inicio %>
              <p class="card-text"><small><%= b.data_inicio_human %> a <%= b.data_fim_human %></small></p>
            <% end %>

            <% if b.produto %>
              <div class="product">
                <img src="<%= b.produto.imagem %>">

                <p><%= b.produto.nome %></p>
              </div>
            <% end %>
            
            <% if b.event %>
              <div class="product">
                <img src="<%= b.event.imagem %>">

                <p><%= b.event.nome %></p>
              </div>
            <% end %>
          </div>

          <div class="card-footer text-right">
            <% if policy(b).edit? %>
              <a href="<%= edit_banner_path(b) %>" class="btn btn-sm btn-primary"><i class="fa fa-pencil-alt"></i> Editar</a>
            <% end %>

            <% if policy(b).destroy? %>
              <%= link_to banner_path(b), method: :delete, data: { confirm: 'Tem certeza que deseja excluir esse Banner?' }, class: 'btn btn-danger btn-sm' do %>
                <i class="fa fa-trash"></i> Excluir
              <%end%>
            <%end%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
    <div class="empty-data-container">
        <%= image_tag 'picture.png' %>

        <p>Nenhum banner encontrado</p>
    </div>
<% end %>

<%= render 'paginators/default', model: @banners %>