
<%= form_for @user, html: { id: 'user-form' } do |f| %>

<%= f.hidden_field :id %>
<%= hidden_field_tag :insert_mode, @user.new_record? %>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Dados do Usuário</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <%= f.label :nome, 'Nome' %>
                    <%= f.text_field :nome, class: 'form-control', autofocus: true %>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <%= f.label :email, 'Email' %>
                    <%= f.text_field :email, class: 'form-control' %>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <%= f.label :role, 'Perfil' %>
                    <%= f.select :role, User.role.options, {}, {class: 'form-control'} %>
                </div>
            </div>
        </div>

        <% if @user.new_record? %>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <%= f.label :password, 'Senha' %>
                        <%= f.password_field :password, class: 'form-control' %>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <%= f.label :confirm_password, 'Repita a senha' %>
                        <%= f.password_field :confirm_password, class: 'form-control' %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>

<% if not @user.new_record? %>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Trocar senha <small>Deixe em branco se não quiser trocar</small></h3>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <%= f.label :password, 'Nova senha' %>
                        <%= f.password_field :password, class: 'form-control' %>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>

<button type="submit" class="btn btn-success btn-lg mb-3"><i class="fa fa-check"></i> Salvar</button>

<% end %>