<div class="my-2">
    <% if policy(:user).create? %>
        <a href="<%= new_user_path %>" class="btn btn-primary"><i class="fa fa-plus"></i> Novo Usuário</a>
    <% end %>
</div>

<div class="card">
    <div class="card-body">
        <table class="table table-hover" id="users-list">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Perfil</th>
                    <th data-orderable="false"></th>
                </tr>
            </thead>
            <tbody>
                <% @users.each do |u| %>
                    <%
                    rowClass = ''

                    if u.locked?
                        rowClass = 'text-muted'
                    end
                    %>
                    <tr class="<%= rowClass %>">
                        <td><%= u.nome %></td>
                        <td><%= u.email %></td>
                        <td><%= u.role_text %></td>
                        <td>
                            <div class="table-actions">
                                <% if policy(u).edit? %>
                                    <a href="<%= edit_user_path u %>" class="btn btn-primary btn-sm"><i class="fa fa-pencil-alt"></i> Editar</a>
                                <%end%>

                                <% if u.locked? %>
                                    <% if policy(u).block? %>
                                        <%= link_to users_unlock_path(u), method: :patch, data: { confirm: 'Tem certeza que deseja desbloquear esse usuário?' }, class: 'btn btn-secondary btn-sm' do %>
                                            <i class="fa fa-lock-open"></i> Desbloquear
                                        <%end%>
                                    <%end%>
                                <% else %>
                                    <% if policy(u).unblock? %>
                                        <%= link_to users_lock_path(u), method: :patch, data: { confirm: 'Tem certeza que deseja bloquear esse usuário?' }, class: 'btn btn-secondary btn-sm' do %>
                                            <i class="fa fa-lock"></i> Bloquear
                                        <%end%>
                                    <%end%>
                                <% end %>

                                <% if policy(u).destroy? %>
                                    <%= link_to user_path(u), method: :delete, data: { confirm: 'Tem certeza que deseja excluir esse usuário?' }, class: 'btn btn-danger btn-sm' do %>
                                        <i class="fa fa-trash"></i> Excluir
                                    <%end%>
                                <%end%>
                            </div>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>