<%= form_for @user, url: users_save_profile_path, html: { id: 'profile-form' } do |f| %>

<%= f.hidden_field :id %>

<div class="card">
    <div class="card-body">
        <div class="form-group">
            <%= f.label :nome, 'Nome' %>
            <%= f.text_field :nome, class: 'form-control' %>
        </div>

        <div class="form-group">
            <%= f.label :email, 'E-mail' %>
            <%= f.email_field :email, class: 'form-control' %>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Trocar senha <small class="text-muted">Deixe em branco se não quiser trocar</small></h3>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <%= f.label :old_password, 'Senha atual' %>
                    <%= f.password_field :old_password, class: 'form-control' %>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <%= f.label :new_password, 'Nova senha' %>
                    <%= f.password_field :new_password, class: 'form-control' %>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <%= f.label :confirm_new_password, 'Repita a nova senha' %>
                    <%= f.password_field :confirm_new_password, class: 'form-control' %>
                </div>
            </div>
        </div>
    </div>
</div>

<button type="submit" class="btn btn-success btn-lg mb-3"><i class="fa fa-check"></i> Salvar</button>

<% end %>