<%= form_for @comanda, html: { id: 'comanda-edit-form' } do |f| %>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <%= f.label :codigo, 'Número' %>
                    <%= f.text_field :codigo, class: 'form-control', readonly: true %>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <%= f.label :table, 'Mesa' %>
                    <%= f.collection_select :table_id, @tables, :id, :table_string, { :include_blank => true }, { class: 'form-control' } %>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <%= f.label :status, 'Status' %>
                    <%= f.select :status, Comanda.status.options, {}, { class: 'form-control' } %>
                </div>
            </div>
        </div>
    </div>
</div>

<button type="submit" class="btn btn-success btn-lg"><i class="fa fa-check"></i> Salvar</button>

<% end %>