<div class="row">
  <div class="col-md-7">
    <div class="card">
      <div class="card-body">
        <table id="comandas-list" class="table table-hover table-sm">
          <thead>
            <tr>
              <th>Código</th>
              <th>Mesa</th>
              <th>Status</th>
              <th data-orderable="false"></th>
            </tr>
          </thead>
          <tbody>
            <% @comandas.each do |c| %>
              <tr>
                <td><%= sprintf '%04d', c.codigo %></td>
                <td><%= c.table ? c.table.table_string : '' %></td>
                <td><%= c.status_text %></td>
                <td>
                  <div class="table-actions">
                    <% if policy(c).edit? %>
                      <a href="<%= edit_comanda_path c %>" class="btn btn-primary btn-sm"><i class="fa fa-pencil-alt"></i> Editar</a>
                    <%end%>

                    <% if policy(c).destroy? %>
                      <%= link_to comanda_path(c), method: :delete, data: { confirm: 'Tem certeza que deseja excluir essa comanda?' }, class: 'btn btn-danger btn-sm' do %>
                        <i class="fa fa-trash"></i> Excluir
                      <%end%>
                    <%end%>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-5">
    <%= form_tag comandas_path, id: 'comanda-new-form' do %>

    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Gerar comandas</h3>
      </div>

      <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <%= label_tag 'start', 'Início' %>
                <%= text_field_tag 'start', nil, class: 'form-control' %>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <%= label_tag 'end', 'Fim' %>
                <%= text_field_tag 'end', nil, class: 'form-control' %>
              </div>
            </div>
          </div>
      </div>
    </div>

    <button type="submit" class="btn btn-success btn-lg">Criar</button>

    <% end %>
  </div>
</div>