<div id="app">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <orders-sales-graph></orders-sales-graph>
                </div>

                <div class="card-footer text-right">
                    <a href="<%= orders_path %>">ver mais <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <waiters-called-graph></waiters-called-graph>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="small-box bg-success">
                <div class="inner">
                    <h3><%= @active_tables %></h3>

                    <p>Mesas Ativas</p>
                </div>

                <div class="icon">
                    <i class="fa fa-square"></i>
                </div>

                <a href="<%= tables_path %>" class="small-box-footer">ver mais <i class="fas fa-arrow-circle-right"></i></a>
            </div>

            <div class="small-box bg-info">
                <div class="inner">
                    <h3><%= @active_comandas %></h3>

                    <p>Comandas Ativas</p>
                </div>

                <div class="icon">
                    <i class="fa fa-qrcode"></i>
                </div>

                <a href="<%= comandas_path %>" class="small-box-footer">ver mais <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
</div>