<%= form_for @event, html: { id: 'event-form' } do |f| %>

<% if !@event.new_record? %>
    <%= f.hidden_field :id %>
<% end %>

<div class="card">
    <div class="card-body">
        <div class="form-group">
            <%= f.label :nome, 'Nome' %>
            <%= f.text_field :nome, class: 'form-control', autofocus: true %>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <%= f.label :data_inicio, 'Data Início' %>
                    <%= f.text_field :data_inicio, class: 'form-control datepicker', value: @event.data_inicio_human %>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <%= f.label :data_fim, 'Data Fim' %>
                    <%= f.text_field :data_fim, class: 'form-control datepicker', value: @event.data_fim_human %>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <%= f.label 'imagem', 'Imagem' %>
                    <%= f.file_field 'imagem', class: 'form-control' %>
                </div>
            </div>
        </div>

        <div class="form-group">
            <%= f.label :descricao, 'Descrição' %>

            <%= f.text_area :descricao, class: 'editor' %>

            <div class="quill_container"></div>
        </div>
    </div>
</div>

<button type="submit" class="btn btn-success btn-lg mb-3"><i class="fa fa-check"></i> Salvar</button>

<% end %>