<%= form_tag '', method: :get do %>
    <div class="row my-2">
        <div class="col-md-6">
            <div class="form-group">
                <%= text_field_tag 'q', params[:q], class: 'form-control', placeholder: 'Nome ou descrição' %>
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <%= text_field_tag 'data_inicio', params[:data_inicio], class: 'form-control datepicker', placeholder: 'Data Início' %>
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <%= text_field_tag 'data_fim', params[:data_fim], class: 'form-control datepicker', placeholder: 'Data Fim' %>
            </div>
        </div>

        <div class="col-md-2">
            <button class="btn btn-secondary btn-block" type="submit"><i class="fa fa-search"></i> Buscar</button>
        </div>
    </div>
<% end %>

<div class="my-2">
    <% if policy(:event).create? %>
        <a href="<%= new_event_path %>" class="btn btn-primary"><i class="fa fa-plus"></i> Novo Evento</a>
    <% end %>
</div>

<% if !@events.empty? %>
    <div class="row" id="events-list">
        <% @events.each do |e| %>
            <div class="col-md-3 mb-3">
                <div class="card h-100">
                    <img src="<%= e.imagem %>" class="card-img-top">

                    <div class="card-body">
                        <p class="card-text"><%= e.nome %></p>

                        <p class="card-text"><small><%= e.data_inicio_human %> a <%= e.data_fim_human %></small></p>
                    </div>

                    <div class="card-footer text-right">
                        <% if policy(e).edit? %>
                            <a href="<%= edit_event_path(e) %>" class="btn btn-sm btn-primary"><i class="fa fa-pencil-alt"></i> Editar</a>
                        <% end %>

                        <% if policy(e).destroy? %>
                            <%= link_to event_path(e), method: :delete, data: { confirm: 'Tem certeza que deseja excluir esse Evento?' }, class: 'btn btn-danger btn-sm' do %>
                                <i class="fa fa-trash"></i> Excluir
                            <%end%>
                        <%end%>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
<% else %>
    <div class="empty-data-container">
        <%= image_tag 'calendar.png' %>

        <p>Nenhum evento encontrado</p>
    </div>
<% end %>

<%= render 'paginators/default', model: @events %>