<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#table"><i class="fa fa-table"></i> Lista</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#chart"><i class="fa fa-chart-bar"></i> Gráfico</a>
            </li>
        </ul>
    </div>

    <div class="card-body tab-content">
        <div class="tab-pane fade show active" id="table">
            <table class="table table-hover" id="orders-list" data-order='[[0, "desc"]]'>
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Pedido</th>
                        <th>Status</th>
                        <th>Comanda</th>
                        <th>Mesa</th>
                        <th>Valor Total</th>
                        <th data-orderable="false"></th>
                    </tr>
                </thead>
                <tbody>
                    <% @orders.each do |o| %>
                        <tr>
                            <td data-order="<%= o.created_at %>"><%= o.created_at_text %></td>
                            <td><%= sprintf '%04d', o.numero %></td>
                            <td><%= o.status_text %></td>
                            <td><%= o.comanda.present? ? sprintf('%02d', o.comanda) : '' %></td>
                            <td><%= o.table.present? ? sprintf('%02d', o.table) : '' %></td>
                            <td><%= number_to_currency o.order_total, unit: "R$", separator: ",", delimiter: "." %></td>
                            <td>
                                <div class="table-actions">
                                    <% if policy(o).destroy? %>
                                        <%= link_to order_path(o), method: :delete, data: { confirm: 'Tem certeza que deseja excluir esse pedido?' }, class: 'btn btn-danger btn-sm' do %>
                                            <i class="fa fa-trash"></i> Excluir
                                        <%end%>
                                    <%end%>
                                </div>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>

        <div class="tab-pane fade" id="chart">
            <div id="app">
                <orders-sales-graph></orders-sales-graph>
            </div>
        </div>
    </div>
</div>