<%= form_for([@produto, @variante], html: { id: "variante" }) do |f| %>

    <% if @variante.errors.any? %>
        <div id="error_explanation">
        <h2><%= pluralize(@variante.errors.count, "error") %> prohibited this variante from being saved:</h2>

        <ul>
        <% @variante.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
        </ul>
        </div>
    <% end %>

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <%= f.label :nome, 'Nome da Variante' %>
                        <%= f.text_field :nome, class: 'form-control', autofocus: true %>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <%= f.label :tipo, 'Tipo Seleção' %> <br>
                        <div class="custom-control custom-radio">
                            <%= f.radio_button :tipo, true, :checked => true, :id => "customRadio1", :class => 'custom-control-input' %>
                            <label class="custom-control-label" for="customRadio1">Múltiplas</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <%= f.radio_button :tipo, false, :id => "customRadio2", :class => 'custom-control-input' %>
                            <label class="custom-control-label" for="customRadio2">Única</label>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <%= f.label :maxSelect, 'Máximo de Seleções' %>
                        <%= f.number_field :maxSelect, min: 1, class: "required form-control", value: "1" %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-success btn-lg mb-3"><i class="fa fa-check"></i> Salvar</button>

<% end %>
