<div class="row my-2">
    <div class="col-md-6">
        <% if policy(:produto).create? %>
            <a href="<%= new_produto_variante_path %>" class="btn btn-primary"><i class="fa fa-plus"></i> Nova Variante</a>
        <% end %>
    </div>
</div>
<% if !@variantes.empty? %>

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table id="variantes-list" class="table table-hover table-sm">
            <thead>
              <tr>
                <td>
                  Variante
                </td>
                <td>
                  Tipo de Seleção
                </td>
                <td>
                  
                </td>
              </tr>
            </thead>
            <tbody>
              <% @variantes.each do |variante| %>
                <tr>
                  <td>
                    <%= variante.nome%>
                  </td>
                  <td>
                    <%= variante.tipo == "true" ? "Múltipla" : "Única"%>
                  </td>
                  <td class="text-right">
                    <% if policy(@produto).edit? %>
                      <%= link_to produto_variante_itens_variantes_path(@produto, variante), class: 'btn btn-secondary btn-sm' do %>
                        <i class="fa fa-align-justify"></i> Itens
                      <%end%>
                      <%= link_to edit_produto_variante_path(@produto,variante), class: 'btn btn-primary btn-sm' do %>
                        <i class="fa fa-pencil-alt"></i> Editar
                      <%end%>
                    <% end %>
                    <% if policy(@produto).destroy? %>
                      <%= link_to produto_variante_path(@produto, variante), method: :delete, data: { confirm: 'Tem certeza que deseja remover?' }, class: 'btn btn-danger btn-sm' do %>
                        <i class="fa fa-trash"></i> Excluir
                      <%end%>
                    <%end%>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<% else %>
    <div class="empty-data-container">
        <i class="fas fa-align-justify fa-9x"></i>
        <p>Nenhuma variante encontrado</p>
    </div>
<% end %>