<template>
    <div class="comanda-input-container">
        <div class="card">
            <div class="card-body">
                <img src="/assets/qrcode.png" />

                <p>Entre com o número da comanda</p>

                <input type="text" @keyup.enter="checkComanda(comandaNumber)" ref="comandaInput" class="form-control text-center my-3" v-model="comandaNumber" />

                <button v-if="!loading" class="btn btn-primary btn-block" @click="checkComanda(comandaNumber)">Verificar</button>

                <button v-if="loading" disabled class="btn btn-primary btn-block">
                    <i class="fa fa-spinner fa-spin"></i>
                </button>
            </div>
        </div>

        <b-modal hide-footer hide-header v-model="showModal">
            <template slot="default" slot-scope="{ close }">
                <div class="comanda-modal-container">
                    <img :src="modalImage">

                    <p>{{ modalMessage }}</p>

                    <button @click="close()" class="btn btn-primary btn-lg my-4">OK</button>
                </div>
            </template>
        </b-modal>
    </div>
</template>

<script>
import axios from "axios";
import numeral from "numeral";

export default {
    data() {
        return {
            comandaNumber: null,
            loading: false,
            modalImage: null,
            modalMessage: null,
            showModal: false,
        };
    },
    mounted() {
        $(this.$refs.comandaInput).focus();
    },
    methods: {
        checkComanda(comandaNumber) {
            this.loading = true;

            axios.get(`/comandas/check-comanda/${comandaNumber}`).then(response => {
                var number = this.comandaNumber;

                switch (response.data) {
                    case "ok":
                        this.modalImage = '/assets/positive-vote.png';
                        this.modalMessage = 'Tudo certo! Obrigado pela sua visita!';

                        break;

                    case "not_ok":
                        this.modalImage = '/assets/stop.png';
                        this.modalMessage = `Por favor, verifique a Comanda ${numeral(number).format('00')} no caixa.`;

                        break;

                    case "not_exists":
                        this.modalImage = '/assets/error.png';
                        this.modalMessage = `Comanda não encontrada. Verifique se você digitou corretamente o número.`;

                        break;
                }

                this.loading = false;
                this.showModal = true;
                this.comandaNumber = null;
            });
        }
    }
};
</script>