<%= form_for @book, html: { id: 'book-form' } do |f| %>

<% if !@book.new_record? %>
    <%= f.hidden_field :id %>
<% end %>

<div class="card">
    <div class="card-body">
        <div class="form-group">
            <%= f.label :titulo, 'Título' %>
            <%= f.text_field :titulo, class: 'form-control', autofocus: true %>
        </div>

        <div class="row">
            <div class="col-md-6">    
                <div class="form-group">
                    <%= f.label :autor, 'Autor' %>
                    <%= f.text_field :autor, class: 'form-control' %>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <%= f.label :category_book, 'Categoria' %>
                    <%= f.collection_select :category_book_id, @categories, :id, :nome, {prompt: ''}, {class: 'form-control select-2'} %>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <%= f.label 'capa_file', 'Capa' %>
                    <%= f.file_field 'capa_file', class: 'form-control' %>
                </div>
            </div>
        </div>

        <div class="form-group">
            <%= f.label :resumo, 'Resumo' %>
            <%= f.text_area :resumo, class: 'form-control', rows: 5 %>
        </div>
    </div>
</div>

<button type="submit" class="btn btn-success btn-lg mb-3"><i class="fa fa-check"></i> Salvar</button>

<% end %>