<div class="row my-2">
    <div class="col-md-6">
        <% if policy(:book).create? %>
            <a href="<%= new_book_path %>" class="btn btn-primary"><i class="fa fa-plus"></i> Novo Livro</a>
        <% end %>
    </div>

    <div class="col-md-6 text-right">
        <%= form_tag '', method: :get do %>
            <div class="input-group">
                <%= text_field_tag 'q', params[:q], class: 'form-control', placeholder: 'Buscar' %>
                
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
                </div>
            </div>
        <% end %>
    </div>
</div>

<% if !@books.empty? %>
    <div class="books-list">
        <div class="row">
            <% @books.each do |b| %>
                <div class="col-md-6 mb-3">
                    <div class="card h-100">
                        <div class="row h-100 no-gutters">
                            <div class="col-md-4">
                                <img src="<%= b.capa %>" class="card-img h-100">
                            </div>

                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4 class="card-title"><%= b.titulo %></h4>
                                    <h5><small><%= b.autor %></small></h5>
                                    <h6><small><%= b.category_book.nome %></small></h6>

                                    <small class="card-text"><%= b.resumo %></small>

                                    <div class="my-2">
                                        <% if policy(b).edit? %>
                                            <a href="<%= edit_book_path(b) %>" class="btn btn-sm btn-primary"><i class="fa fa-pencil-alt"></i> Editar</a>
                                        <% end %>

                                        <% if policy(b).destroy? %>
                                            <%= link_to book_path(b), method: :delete, data: { confirm: 'Tem certeza que deseja excluir esse livro?' }, class: 'btn btn-danger btn-sm' do %>
                                                <i class="fa fa-trash"></i> Excluir
                                            <%end%>
                                        <%end%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
<% else %>
    <div class="empty-data-container">
        <%= image_tag 'open-book.png' %>

        <p>Nenhum livro encontrado</p>
    </div>
<% end %>

<%= render 'paginators/default', model: @books %>