<template>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h5>{{ title }}</h5>

        <div class="form-inline">
            <form ref="searchForm">
                <date-picker 
                    v-model="startDate" 
                    placeholder="Início"
                    name="start_date"
                    class="mr-2 form-control-sm" 
                    :config="dateOptions"
                ></date-picker>

                <date-picker 
                    v-model="endDate" 
                    placeholder="Fim"
                    name="end_date"
                    class="mr-2 form-control-sm" 
                    :config="dateOptions"
                ></date-picker>

                <button type="button" v-if="!loading" class="btn btn-sm btn-primary" @click="searchPeriod()"><i class="fa fa-search"></i></button>
                <button v-else class="btn btn-sm btn-primary" disabled><i class="fa fa-spinner fa-spin"></i></button>
            </form>
        </div>
    </div>
</template>

<script>
import moment from 'moment';
import datePicker from 'vue-bootstrap-datetimepicker';
import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';

export default {
    props: [
        'title',
        'loading',
    ],
    components: {
        datePicker,
    },
    data() {
        return {
            startDate: moment().startOf('month').format('DD/MM/YYYY'),
            endDate: moment().endOf('month').format('DD/MM/YYYY'),
            dateOptions: {
                format: 'DD/MM/YYYY',
                locale: 'pt-br',
            },
        }
    },
    methods: {
        searchPeriod() {
            var error = false;

            if (!this.startDate) {
                alert('Entre com a data de início');

                error = true;
            } else {
                if (!moment(this.startDate, 'DD/MM/YYYY').isValid()) {
                    alert('Data de início inválida');

                    error = true;
                }
            }

            if (!this.endDate) {
                alert('Entre com a data de fim');

                error = true;
            } else {
                if (!moment(this.endDate, 'DD/MM/YYYY').isValid()) {
                    alert('Data de fim inválida');

                    error = true;
                } else {
                    if (moment(this.startDate, 'DD/MM/YYYY') >= moment(this.endDate, 'DD/MM/YYYY')) {
                        alert('Período inválido');

                        error = true;
                    }
                }
            }

            if (!error) {
                this.$emit('search', this.startDate, this.endDate);
            }
        }
    }
}
</script>