<%= form_with(model: categoria, local: true, html: { id: "categoria"}) do |f| %>
  
  <% if categoria.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(categoria.errors.count, "error") %> prohibited this categoria from being saved:</h2>

      <ul>
      <% categoria.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card">
      <div class="card-body">
          <div class="form-group">
              <%= f.label :nome, 'Categoria' %>
              <%= f.text_field :nome, class: 'form-control', autofocus: true %>
          </div>
      </div>
  </div>

  <button type="submit" class="btn btn-success btn-lg mb-3"><i class="fa fa-check"></i> Salvar</button>

<% end %>