<div class="row my-2">
    <div class="col-md-6">
        <% if policy(:categoria).create? %>
            <a href="<%= new_categoria_path %>" class="btn btn-primary"><i class="fa fa-plus"></i> Nova Categoria</a>
        <% end %>
    </div>
</div>
<% if !@categorias.empty? %>

<div class="card">
  <div class="row">
    <div class="card-body">
      <div class="col-md-12">
          <div class="table-responsive">
            <table id="categorias-list" class="table table-hover table-sm">
            <thead>
              <tr>
                <td>
                  Nome
                </td>
                <td>
                  
                </td>
              </tr>
            </thead>
              <tbody>
                <% @categorias.each do |categoria| %>
                  <tr>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" <%= categoria.habilitado==true ? 'checked' : '' %>  data-categoria-id="<%= categoria.id %>" class="categoria-habilitado-toggle custom-control-input" id="<%= categoria.id%>">
                        <label class="custom-control-label" for="<%= categoria.id%>"><%= categoria.nome%></label>
                      </div>
                    </td>
                    <td class="text-right">
                      <% if policy(categoria).edit? %>
                        <%= link_to categoria_subcategorias_path(categoria), class: 'btn btn-secondary btn-sm' do %>
                          <i class="fa fa-align-justify"></i> Subcategorias
                        <%end%>
                        <%= link_to edit_categoria_path(categoria), class: 'btn btn-primary btn-sm' do %>
                          <i class="fa fa-pencil-alt"></i> Editar
                        <%end%>
                      <% end %>
                      <% if policy(categoria).destroy? %>
                        <%= link_to categoria, method: :delete, data: { confirm: 'Tem certeza que deseja remover?' }, class: 'btn btn-danger btn-sm' do %>
                          <i class="fa fa-trash"></i> Excluir
                        <%end%>
                      <%end%>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
      </div>
    </div>
  </div>
</div>
<% else %>
    <div class="empty-data-container">
        <i class="fas fa-clipboard-list fa-9x"></i>
        <p>Nenhuma categoria encontrada</p>
    </div>
<% end %>