<template>
    <div class="col-md-6 mb-3">
        <div class="card h-100">
            <img :src="productImage" @mouseenter="showGif()" @mouseleave="hideGif()" class="card-img-top">

            <div class="card-body">
                <h5 class="card-title">
                    <i class="fa fa-ellipsis-v handle mr-2"></i>
                    {{ product.nome }}
                </h5>

                <p class="card-text">{{ product.valor_final | formatNumber('$ 0,0.00') }}</p>

                <div class="btn-toolbar justify-content-end">
                    <input 
                        type="checkbox"  
                        :id="`product-check-${product._id}`" 
                        class="active-check" 
                        v-model="product.habilitado"
                        @change="onHabilitadoChange()" 
                        :disabled="locked" 
                    ><label :for="`product-check-${product._id}`"></label>

                    <div class="btn-group">
                        <button class="btn btn-secondary btn-sm" @click="showVariants()"><i class="fa fa-bars"></i></button>

                        <a :href="`/produtos/${product._id}/edit`" class="btn btn-primary btn-sm"><i class="fa fa-pencil-alt"></i></a>
                        
                        <button class="btn btn-danger btn-sm" @click="remove()"><i class="fa fa-trash"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <b-modal :id="`modal-variants-${product._id}`" ref="variantsModal" static hide-footer title="Variantes">
            <cardapio-variantes 
                :variants="product.variantes"
                :product="product"
                ref="cardapioVariants"
            />
        </b-modal>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    props: [
        'product',
        'index',
    ],
    data() {
        return {
            enabled: this.product.habilitado,
            locked: false,
            productImage: this.product.full_imagem,
        }
    },
    watch: {
        enabled: function(val){
            this.product.habilitado = val;

            var data = {
                id: this.product._id,
                active: this.product.habilitado,
            };

            axios.post('/cardapio/products/toggle', data);
        }
    },
    methods: {
        onHabilitadoChange() {
            this.setEnabled(this.product.habilitado);
        },
        setEnabled(value, locked = false) {
            this.product.habilitado = value;
            this.locked = locked;

            var data = {
                id: this.product._id,
                active: value,
            };

            axios.post('/cardapio/products/toggle', data);

            if (this.$refs.cardapioVariants.$refs.variantsCategories) {
                for (var c of this.$refs.cardapioVariants.$refs.variantsCategories) {
                    c.setEnabled(value, (value == false));
                }
            }
        },
        remove() {
            if (confirm('Tem certeza que deseja excluir esse produto?')) {
                axios.delete('/produtos/' + this.product._id);

                this.$parent.$parent.$parent.products.splice(this.index, 1);
            }
        },
        showVariants() {
            this.$bvModal.show(`modal-variants-${this.product._id}`);
        },
        showGif() {
            if (this.product.full_gif) {
                this.productImage = this.product.full_gif;
            }
        },
        hideGif() {
            this.productImage = this.product.full_imagem;
        }
    }
}
</script>