<template>
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <button class="btn btn-block btn-primary mb-3" v-if="!addingCategory" @click="addCategory()"><i class="fa fa-plus"></i> Nova categoria</button>

            <div class="input-group mb-3" v-if="addingCategory">
                <input 
                    type="text" 
                    v-model="newCategory" 
                    class="form-control"
                    @keyup.enter="saveCategory()" 
                    @keyup.esc="cancelAddCategory()" 
                    ref="newCategoryInput"
                >

                <div class="input-group-append">
                    <button class="btn btn-success" @click="saveCategory()"><i class="fa fa-check"></i></button>
                    <button class="btn btn-danger" @click="cancelAddCategory()"><i class="fa fa-times"></i></button>
                </div>
            </div>

            <div v-if="!loading && categories.length === 0">
                <div class="empty-data-container">
                    <img src="assets/list.png">

                    <p>Nenhuma categoria encontrada</p>
                </div>
            </div>

            <div v-if="loading">
                <div class="card">
                    <div class="card-header">
                        <div class="animated-background"></div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <div class="animated-background"></div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <div class="animated-background"></div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <div class="animated-background"></div>
                    </div>
                </div>
            </div>

            <div v-if="!loading">
                <draggable
                    :list="categories"
                    @end="onDragEnd()"
                    handle=".handle"
                >
                    <transition-group name="flip-list" class="categories-list" tag="ul">
                        <cardapio-categoria
                            v-for="(c, index) in categories"
                            :index="index"
                            :key="c._id"
                            :category="c"
                        />
                    </transition-group>
                </draggable>
            </div>
        </div>

        <div class="col-md-8">
            <div v-if="loadingProducts">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="animated-image-background"></div>

                            <div class="card-body">
                                <div class="animated-background mb-2"></div>

                                <div class="animated-background w-50"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card">
                            <div class="animated-image-background"></div>

                            <div class="card-body">
                                <div class="animated-background mb-2"></div>

                                <div class="animated-background w-50"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div v-if="!loadingProducts" class="products-container">                
                <h4 v-if="currentCategory && currentSubcategory">{{ currentCategory.nome }} <small>{{ currentSubcategory.nome }}</small></h4>

                <div class="mb-2" v-if="currentSubcategory">
                    <a class="btn btn-primary" :href="`/produtos/new/${currentSubcategory._id}`"><i class="fa fa-plus"></i> Adicionar produto</a>
                </div>

                <div class="products-list">
                    <draggable
                        :list="products"
                        @end="onDragEndProduct()"
                        handle=".handle"
                    >
                        <transition-group name="flip-list" class="row">
                            <cardapio-produto
                                v-for="(p, productIndex) in products"
                                :key="p._id"
                                :product="p"
                                :index="productIndex"
                                ref="productsList"
                            />
                        </transition-group>
                    </draggable>
                </div>
            </div>

            <div v-if="!loadingProducts && products.length === 0">
                <div class="empty-data-container">
                    <img src="assets/coffee-cup.png">

                    <p>Nenhum produto encontrado nessa categoria</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
import _ from 'lodash';
import draggable from 'vuedraggable';

export default {
    components: {
        draggable,
    },
    data() {
        return {
            categories: [],
            addingCategory: false,
            newCategory: null,
            categoriesOrder: [],
            currentCategory: null,
            currentSubcategory: null,
            loading: false,
            loadingProducts: false,
            products: [],
        }
    },
    created() {
        this.fetchCategories();
    },
    methods: {
        fetchCategories() {
            this.loading = true;
            this.loadingProducts = true;

            axios.get('/cardapio/categories').then(response => {
                this.categories = response.data;

                this.currentCategory = this.categories[0];
                
                if (this.categories.length !== 0) {
                    if (this.categories[0].subcategorias.length !== 0) {
                        this.currentSubcategory = this.categories[0].subcategorias[0];

                        this.fetchProducts();
                    } else {
                        this.loadingProducts = false;
                    }
                } else {
                    this.loadingProducts = false;
                }

                this.loading = false;
            });
        },
        addCategory() {
            this.addingCategory = true;

            this.$nextTick(() => {
                $(this.$refs.newCategoryInput).focus();
            })
        },
        saveCategory() {
            var category = {
                nome: this.newCategory,
                posicao: 0,
                habilitado: true,
                subcategorias: [],
            };

            var data = {
                name: this.newCategory,
            }

            axios.post('/cardapio/categories', data).then(response => {
                category._id = response.data._id;

                this.currentCategory = category;
                this.currentSubcategory = null;
                this.products = [];

                this.categories.unshift(category);

                this.reorderCategories();
            });

            this.cancelAddCategory();
        },
        cancelAddCategory() {
            this.addingCategory = false;
            this.newCategory = null;
        },
        reorderCategories() {
            for (var index in this.categories) {
                this.categories[index].posicao = index;
            }

            var data = {
                categories: this.categories,
            };

            axios.post('/cardapio/categories/reorder', data);
        },
        onDragEnd() {
            this.reorderCategories();
        },
        onDragEndProduct() {
            this.reorderProducts();
        },
        fetchProducts() {
            this.loadingProducts = true;

            axios.get('/cardapio/products/' + this.currentSubcategory._id).then(response2 => {
                this.products = response2.data;

                console.log(this.products);

                this.loadingProducts = false;
            });
        },
        reorderProducts() {
            for (var index in this.products) {
                this.products[index].posicao = index;
            }

            var data = {
                products: this.products,
            };

            axios.post('/cardapio/products/reorder', data);
        },
    }
}
</script>