<template>
    <div>
        <div class="card">
            <div class="card-header">
                <div class="category-header" v-if="!editing">
                    <div class="category-name">
                        <i class="fa fa-ellipsis-v handle mr-2"></i>
                        <h3 class="card-title"><a href="" @click.prevent="toggleCollapse()">{{ category.nome }}</a></h3>
                    </div>

                    <div class="btn-toolbar justify-content-end">
                        <input 
                            type="checkbox" 
                            :id="`category-check-${category._id}`" 
                            class="active-check" 
                            v-model="category.habilitado" 
                            :disabled="locked" 
                            @change="onHabilitadoChange()" 
                        ><label :for="`category-check-${category._id}`"></label>

                        <div class="btn-group">
                            <button class="btn btn-primary btn-sm" @click="edit()"><i class="fa fa-pencil-alt"></i></button>
                            <button class="btn btn-danger btn-sm" @click="remove()"><i class="fa fa-trash"></i></button>
                        </div>
                    </div>
                </div>

                <div class="input-group" v-if="editing">
                    <input 
                        type="text" 
                        v-if="editing" 
                        v-model="category.nome" 
                        ref="categoryInput"
                        class="form-control"
                        @keyup.enter="save()" 
                        @keyup.esc="stopEditing()" 
                    >

                    <div class="input-group-append">
                        <button class="btn btn-success" @click="save()"><i class="fa fa-check"></i></button>
                        <button class="btn btn-danger" @click="stopEditing()"><i class="fa fa-times"></i></button>
                    </div>
                </div>
            </div>

            <b-collapse 
                :id="`subcategories-collapse-${category._id}`" 
                accordion="subcategories-accordion"
                :visible="$parent.$parent.$parent.currentCategory._id == category._id"
            >
                <div class="p-2">
                    <button 
                        v-if="!addingSubcategory" 
                        class="btn btn-sm btn-block btn-primary"
                        @click="addSubcategory()">
                        <i class="fa fa-plus"></i> Nova subcategoria
                    </button>

                    <div class="input-group" v-else>
                        <input 
                            type="text" 
                            v-model="newSubcategory" 
                            @keyup.enter="saveSubcategory()" 
                            @keyup.esc="cancelAddSubcategory()" 
                            ref="newSubcategoryInput"
                            class="form-control"
                        >

                        <div class="input-group-append">
                            <button class="btn btn-success" @click="addSubcategory()"><i class="fa fa-check"></i></button>
                            <button class="btn btn-danger" @click="cancelAddSubcategory()"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                </div>

                <draggable 
                    :list="category.subcategorias"
                    draggable=".draggable"
                    @end="onDragEnd()"
                    handle=".handle"
                >
                    <transition-group name="flip-list" class="list-group list-group-flush" tag="ul">
                        <cardapio-subcategoria
                            v-for="(s, index2) in category.subcategorias"
                            :key="s._id"
                            :subcategory="s"
                            :index="index2"
                            ref="subcategoriesList"
                        />
                    </transition-group>
                </draggable>
            </b-collapse>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
import draggable from 'vuedraggable';

export default {
    components: {
        draggable,
    },
    props: [
        'category',
        'index',
    ],
    data() {
        return {
            editing: false,
            addingSubcategory: false,
            newSubcategory: null,
            enabled: this.category.habilitado,
            locked: false,
        }
    },
    mounted() {
        this.checkSubcategoriesVisibility();
    },
    watch: {
        enabled: function(val){
            this.category.habilitado = val;

            this.checkSubcategoriesVisibility();

            var data = {
                id: this.category._id,
                active: this.category.habilitado,
            };

            axios.post('/cardapio/categories/toggle', data);
        }
    },
    methods: {
        onHabilitadoChange() {
            this.setEnabled(this.category.habilitado);
        },
        setEnabled(value, locked = false) {
            this.category.habilitado = value;
            this.locked = locked;

            var data = {
                id: this.category._id,
                active: this.category.habilitado,
            };

            axios.post('/cardapio/categories/toggle', data);

            if (this.$refs.subcategoriesList) {
                for (var c of this.$refs.subcategoriesList) {
                    c.setEnabled(value, (value == false));
                }
            }
        },
        checkSubcategoriesVisibility() {
            if (this.enabled == true) {
                $(this.$refs.subcategoriesUl).show();
            } else {
                $(this.$refs.subcategoriesUl).hide();
            }
        },
        edit() {
            this.editing = true;

            this.$nextTick(() => {
                $(this.$refs.categoryInput).focus();
            });
        },
        stopEditing() {
            this.editing = false;
        },
        save() {
            var data = {
                id: this.category._id,
                name: this.category.nome,
            };

            axios.put('/cardapio/categories/', data);

            this.stopEditing();
        },
        toggleCollapse() {
            this.$root.$emit('bv::toggle::collapse', `subcategories-collapse-${this.category._id}`);
        },
        remove() {
            if (confirm('Tem certeza que deseja excluir essa categoria?')) {
                this.$parent.$parent.$parent.categories.splice(this.index, 1);

                axios.delete('/cardapio/categories/' + this.category._id);
            }
        },
        addSubcategory() {
            this.addingSubcategory = true;

            this.$nextTick(() => {
                $(this.$refs.newSubcategoryInput).focus();
            })
        },
        saveSubcategory() {
            var subcategory = {
                nome: this.newSubcategory,
                posicao: 0,
                habilitado: true,
            };

            var data = {
                name: this.newSubcategory,
                category_id: this.category._id,
            }

            axios.post('/cardapio/subcategories', data).then(response => {
                subcategory._id = response.data._id;

                this.$parent.$parent.$parent.currentCategory = this.category;
                this.$parent.$parent.$parent.currentSubcategory = subcategory;
                this.$parent.$parent.$parent.products = [];

                this.category.subcategorias.unshift(subcategory);

                this.reorderSubcategories();
            });

            this.cancelAddSubcategory();
        },
        cancelAddSubcategory() {
            this.addingSubcategory = false;
            this.newSubcategory = null;
        },
        reorderSubcategories() {
            for (var index in this.category.subcategorias) {
                this.category.subcategorias[index].posicao = index;
            }

            var data = {
                subcategories: this.category.subcategorias,
            };

            axios.post('/cardapio/subcategories/reorder', data);
        },
        onDragEnd() {
            this.reorderSubcategories();
        },
    }
}
</script>