<template>
    <li 
        class="list-group-item draggable"
        :class="{'selected': $parent.$parent.$parent.$parent.$parent.$parent.$parent.currentSubcategory._id == subcategory._id}"
    >
        <div class="subcategory-header" v-if="!editing">
            <div class="subcategory-name">
                <i class="fa fa-ellipsis-v handle mr-2"></i>
                <a href="" @click.prevent="selectSubcategory()">{{ subcategory.nome }}</a>
            </div>

            <div class="btn-toolbar justify-content-end">
                <input 
                    type="checkbox"                    
                    v-model="subcategory.habilitado" 
                    :id="`subcategory-check-${subcategory._id}`" 
                    class="active-check" 
                    :disabled="locked" 
                    @change="onHabilitadoChange()" 
                ><label :for="`subcategory-check-${subcategory._id}`"></label>

                <div class="btn-group">
                    <button class="btn btn-primary btn-sm" @click="edit()"><i class="fa fa-pencil-alt"></i></button>
                    <button class="btn btn-danger btn-sm" @click="remove()"><i class="fa fa-trash"></i></button>
                </div>
            </div>
        </div>

        <div class="input-group" v-if="editing">
            <input 
                type="text" 
                v-if="editing" 
                v-model="subcategory.nome" 
                ref="subcategoryInput"
                @keyup.enter="save()" 
                @keyup.esc="stopEditing()" 
                class="form-control"
            >

            <div class="input-group-append">
                <button class="btn btn-success" @click="save()"><i class="fa fa-check"></i></button>
                <button class="btn btn-danger" @click="stopEditing()"><i class="fa fa-times"></i></button>
            </div>
        </div>
    </li>
</template>

<script>
import axios from 'axios';

export default {
    props: [
        'subcategory',
        'index',
    ],
    data() {
        return {
            editing: false,
            locked: false,
        }
    },
    methods: {
        onHabilitadoChange() {
            this.setEnabled(this.subcategory.habilitado);
        },
        setEnabled(value, locked = false) {
            this.subcategory.habilitado = value;
            this.locked = locked;

            var data = {
                id: this.subcategory._id,
                active: this.subcategory.habilitado,
            };

            axios.post('/cardapio/subcategories/toggle', data);

            if (this.$parent.$parent.$parent.$parent.$parent.$parent.$parent.$refs.productsList) {
                for (var c of this.$parent.$parent.$parent.$parent.$parent.$parent.$parent.$refs.productsList) {
                    c.setEnabled(value, (value == false));
                }
            }
        },
        edit() {
            this.editing = true;

            this.$nextTick(() => {
                $(this.$refs.subcategoryInput).focus();
            });
        },
        stopEditing() {
            this.editing = false;
        },
        save() {
            var data = {
                id: this.subcategory._id,
                name: this.subcategory.nome,
            };

            axios.put('/cardapio/subcategories/', data);

            this.stopEditing();
        },
        remove() {
            if (confirm('Tem certeza que deseja excluir essa subcategoria?')) {
                this.$parent.$parent.$parent.$parent.category.subcategorias.splice(this.index, 1);

                axios.delete('/cardapio/subcategories/' + this.subcategory._id);
            }
        },
        selectSubcategory() {
            this.$parent.$parent.$parent.$parent.$parent.$parent.$parent.currentCategory = this.$parent.$parent.$parent.$parent.category;
            this.$parent.$parent.$parent.$parent.$parent.$parent.$parent.currentSubcategory = this.subcategory;
            this.$parent.$parent.$parent.$parent.$parent.$parent.$parent.fetchProducts();
        }
    }
}
</script>