<template>
  <div id="listacategorias">
    <ul>
      <li v-for="(c, index) in thisCategorias"
          v-bind:c="c"
          v-bind:index="index"
          v-bind:key="c.id">
          {{c.nome}}
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: [
      'categorias',
  ],
  data: function () {
    return {
      message: "Hello Vue!",
      thisCategorias: this.categorias,
    }
  }
}
</script>

<style scoped>
p {
  font-size: 2em;
  text-align: center;
}
</style>
