<template>
    <div class="card">
        <div class="card-header">
            <div class="variant-header" v-if="!editing">
                <div class="variant-name">
                    <i class="fa fa-ellipsis-v handle mr-2"></i>

                    <h3 class="card-title"><a href="" @click.prevent="toggleCollapse()">{{ category.nome }}</a></h3>
                </div>

                <div class="variant-info">
                    <span v-if="category.tipo == 'true'"><i class="fa fa-check-square"></i> {{ category.maxSelect }}</span>
                    <span v-if="category.tipo == 'false'"><i class="fa fa-check-circle"></i> 1</span>
                </div>

                <div class="btn-toolbar justify-content-end">
                    <input 
                        type="checkbox"  
                        :id="`variant-category-check-${category._id}`" 
                        class="active-check" 
                        v-model="category.habilitado"
                        @change="onHabilitadoChange()"
                        :disabled="locked" 
                    ><label :for="`variant-category-check-${category._id}`"></label>

                    <div class="btn-group">
                        <button class="btn btn-primary btn-sm" @click="edit()"><i class="fa fa-pencil-alt"></i></button>
                        <button class="btn btn-danger btn-sm" @click="remove()"><i class="fa fa-trash"></i></button>
                    </div>
                </div>
            </div>

            <div v-if="editing">
                <form method="post" ref="editVariantForm" @submit.prevent="save()">
                    <input 
                        type="text" 
                        v-model="category.nome" 
                        ref="categoryInput"
                        placeholder="Nome"
                        name="nome"
                        class="form-control mb-2"
                    >

                    <div class="row">
                        <div class="col-md-5">
                            <select v-model="category.tipo" class="form-control" name="tipo" ref="categoryTipoSelect">
                                <option value="true">Múltipla escolha</option>
                                <option value="false">Escolha única</option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <input 
                                type="number" 
                                placeholder="Máximo"
                                min="1" 
                                v-model="category.maxSelect" 
                                class="form-control" 
                                name="maximo"
                                :disabled="category.tipo == 'false'"
                            >
                        </div>

                        <div class="col-md-3 text-right">
                            <div class="btn-group">
                                <button class="btn btn-success" type="submit"><i class="fa fa-check"></i></button>
                                <button class="btn btn-danger" @click="stopEditing()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <b-collapse 
            :id="`variants-collapse-${category._id}`" 
            accordion="variants-accordion"
            :visible="index == 0"
        >
            <div class="p-2">
                <button 
                    v-if="!addingItem" 
                    class="btn btn-sm btn-block btn-primary"
                    @click="addItem()">
                    <i class="fa fa-plus"></i> Novo Item
                </button>

                <div v-if="addingItem">
                    <form method="post" @submit.prevent="saveItem()" ref="variantItemForm">
                        <div class="row">
                            <div class="col-md-5">
                                <input 
                                    type="text" 
                                    v-model="newItemNome" 
                                    name="nome"
                                    ref="itemInput"
                                    class="form-control"
                                    placeholder="Nome"
                                >
                            </div>

                            <div class="col-md-4">
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    placeholder="Valor"
                                    v-money="{
                                        decimal: ',',
                                        thousands: '.',
                                        precision: 2,
                                    }" 
                                    v-model="newItemValor"
                                    ref="itemValorInput"
                                >
                            </div>

                            <div class="col-md-3 text-right">
                                <div class="btn-group">
                                    <button class="btn btn-success" type="submit"><i class="fa fa-check"></i></button>
                                    <button class="btn btn-danger" @click="cancelAddItem()"><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <draggable
                :list="category.itens_variante"
                @end="onDragEnd()"
                handle=".handle"
            >
                <transition-group name="flip-list" tag="ul" class="list-group list-group-flush">
                    <cardapio-variantes-item 
                        v-for="(i, index2) in category.itens_variante"
                        :key="i._id"
                        :item="i"
                        :index="index2"
                        :product="product"
                        :variant="category"
                        ref="variantItems"
                    />
                </transition-group>
            </draggable>
        </b-collapse>
    </div>
</template>

<script>
import axios from 'axios';
import draggable from 'vuedraggable';
import numeral from 'numeral';
import locales from 'numeral/locales';
import { VMoney } from 'v-money'

numeral.locale('pt-br');

export default {
    props: [
        'category',
        'product',
        'index',
    ],
    components: {
        draggable,
    },
    directives: { money: VMoney },
    watch: {
        'category.tipo': function(val){
            if (val == 'false') {
                this.category.maxSelect = null;
            }
        }
    },
    data() {
        return {
            enabled: this.category.habilitado,
            editing: false,
            addingItem: false,
            newItemNome: null,
            newItemValor: null,
            locked: false,
        }
    },
    // watch: {
    //     enabled: function(val){
    //         this.category.habilitado = val;

    //         var data = {
    //             product_id: this.product._id,
    //             id: this.category._id,
    //             active: this.category.habilitado,
    //         };

    //         axios.post('/cardapio/variants/toggle', data);
    //     }
    // },
    methods: {
        onHabilitadoChange() {
            this.setEnabled(this.category.habilitado);
        },
        setEnabled(value, locked = false) {
            this.category.habilitado = value;
            this.locked = locked;

            var data = {
                product_id: this.product._id,
                id: this.category._id,
                active: value,
            };

            axios.post('/cardapio/variants/toggle', data);

            if (this.$refs.variantItems) {
                for (var c of this.$refs.variantItems) {
                    c.setEnabled(value, (value == false));
                }
            }
        },
        edit() {
            this.editing = true;

            this.$nextTick(() => {
                $(this.$refs.editVariantForm).validate({
                    rules: {
                        nome: 'required',
                        maximo: {
                            required: () => $(this.$refs.categoryTipoSelect).val() == 'true',
                        },
                    },
                    errorPlacement: () => true,
                });

                $(this.$refs.categoryInput).focus();
            });
        },
        remove() {
            if (confirm('Tem certeza que deseja excluir essa categoria de variante?')) {
                this.$parent.$parent.$parent.variants.splice(this.index, 1);

                axios.delete(`/cardapio/variants/${this.product._id}/${this.category._id}`);
            }
        },
        save() {
            if ($(this.$refs.editVariantForm).valid()) {
                var data = {
                    product_id: this.product._id,
                    id: this.category._id,
                    nome: this.category.nome,
                    tipo: this.category.tipo,
                    maxSelect: this.category.maxSelect,
                };
    
                axios.put('/cardapio/variants/', data);
    
                this.stopEditing();
            }
        },
        stopEditing() {
            this.editing = false;
        },
        getType() {
            if (this.category.tipo == 'true') {
                return 'Múltipla escolha';
            } else {
                return 'Escolha única';
            }
        },
        onDragEnd() {
            this.reorderItems();
        },
        reorderItems() {
            for (var index in this.category.itens_variante) {
                this.category.itens_variante[index].posicao = index;
            }

            var data = {
                product_id: this.product._id,
                variant_id: this.category._id,
                items: this.category.itens_variante,
            };

            axios.post('/cardapio/variants_items/reorder', data);
        },
        addItem() {
            this.addingItem = true;

            this.$nextTick(() => {
                $(this.$refs.variantItemForm).validate({
                    rules: {
                        nome: 'required',
                    },
                    errorPlacement: () => true,
                });

                $(this.$refs.itemInput).focus();
            })
        },
        saveItem() {
            if ($(this.$refs.variantItemForm).valid()) {
                var item = {
                    nome: this.newItemNome,
                    valor_adicional: numeral(this.newItemValor).value(),
                    posicao: 0,
                    habilitado: true,
                };
    
                var data = {
                    nome: this.newItemNome,
                    valor_adicional: numeral(this.newItemValor).value(),
                    variant_id: this.category._id,
                    product_id: this.product._id,
                }
    
                axios.post('/cardapio/variants_items', data).then(response => {
                    this.category.itens_variante.unshift(item);
    
                    this.category.itens_variante[0]._id = response.data._id;
    
                    this.reorderItems();
                });
    
                this.cancelAddItem();
            }
        },
        cancelAddItem() {
            this.addingItem = false;

            this.newItemNome = null;
            this.newItemValor = null;
        },
        toggleCollapse() {
            this.$root.$emit('bv::toggle::collapse', `variants-collapse-${this.category._id}`);
        },
    }
}
</script>