<template>
    <li class="list-group-item">
        <div v-if="!editing" class="variant-item-header">
            <div class="variant-item-name">
                <i class="fa fa-ellipsis-v handle mr-2"></i>

                <p>{{ item.nome }}</p>
            </div>

            <div class="variant-item-info" v-if="item.valor_adicional && item.valor_adicional != '0,00'">
                <small>+{{ item.valor_adicional | formatNumber('0,0.00') }}</small>
            </div>

            <div class="btn-toolbar justify-content-end">
                <input 
                    type="checkbox"  
                    :id="`variant-item-check-${item._id}`" 
                    class="active-check" 
                    v-model="item.habilitado"
                    :disabled="locked"
                    @change="onHabilitadoChange()" 
                ><label :for="`variant-item-check-${item._id}`"></label>

                <div class="btn-group">
                    <button class="btn btn-primary btn-sm" @click="edit()"><i class="fa fa-pencil-alt"></i></button>
                    <button class="btn btn-danger btn-sm" @click="remove()"><i class="fa fa-trash"></i></button>
                </div>
            </div>
        </div>

        <div v-if="editing">
            <form method="post" @submit.prevent="save()" ref="variantItemForm">
                <div class="row">
                    <div class="col-md-5">
                        <input 
                            type="text" 
                            v-model="item.nome" 
                            name="nome"
                            ref="itemInput"
                            class="form-control"
                            placeholder="Nome"
                        >
                    </div>

                    <div class="col-md-4">
                        <input 
                            type="text" 
                            class="form-control" 
                            placeholder="Valor"
                            v-money="{
                                decimal: ',',
                                thousands: '.',
                                precision: 2,
                            }" 
                            v-model="item.valor_adicional"
                            ref="itemValorInput"
                        >
                    </div>

                    <div class="col-md-3 text-right">
                        <div class="btn-group">
                            <button class="btn btn-success" type="submit"><i class="fa fa-check"></i></button>
                            <button class="btn btn-danger" @click="stopEditing()"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </li>
</template>

<script>
import axios from 'axios';
import numeral from 'numeral';
import locales from 'numeral/locales';
import { VMoney } from 'v-money'

numeral.locale('pt-br');

export default {
    props: [
        'item',
        'product',
        'variant',
        'index',
    ],
    directives: { money: VMoney },
    data() {
        return {
            enabled: this.item.habilitado,
            editing: false,
            locked: false,
        }
    },
    // watch: {
    //     enabled: function(val){
    //         this.item.habilitado = val;

    //         var data = {
    //             product_id: this.product._id,
    //             variant_id: this.variant._id,
    //             id: this.item._id,
    //             active: this.item.habilitado,
    //         };

    //         axios.post('/cardapio/variants_items/toggle', data);
    //     }
    // },
    methods: {
        onHabilitadoChange() {
            this.setEnabled(this.item.habilitado);
        },
        setEnabled(value, locked = false) {
            this.item.habilitado = value;
            this.locked = locked;

            var data = {
                product_id: this.product._id,
                variant_id: this.variant._id,
                id: this.item._id,
                active: value,
            };

            axios.post('/cardapio/variants_items/toggle', data);
        },
        edit() {
            this.editing = true;
            this.item.valor_adicional = numeral(this.item.valor_adicional).format('0,0.00');

            this.$nextTick(() => {
                $(this.$refs.variantItemForm).validate({
                    rules: {
                        nome: 'required',
                    },
                    errorPlacement: () => true,
                });

                $(this.$refs.itemInput).focus();
            });
        },
        remove() {
            if (confirm('Tem certeza que deseja excluir esse item?')) {
                this.$parent.$parent.$parent.$parent.category.itens_variante.splice(this.index, 1);

                axios.delete(`/cardapio/variants_items/${this.product._id}/${this.variant._id}/${this.item._id}`);
            }
        },
        save() {
            if ($(this.$refs.variantItemForm).valid()) {
                var data = {
                    product_id: this.product._id,
                    variant_id: this.variant._id,
                    id: this.item._id,
                    nome: this.item.nome,
                    valor_adicional: numeral(this.item.valor_adicional).value(),
                };
    
                axios.put('/cardapio/variants_items/', data);
    
                this.stopEditing();
            }
        },
        stopEditing() {
            this.editing = false;
        },
        getEnabled() {
            return !$(this.$parent.$parent.$parent.$parent.$refs.variantCategoryCheck).prop('checked');
        }
    }
}
</script>