<template>
    <div>
        <button class="btn btn-block btn-primary mb-2" v-if="!addingCategory" @click="addCategory()"><i class="fa fa-plus"></i> Adicionar Categoria de Variante</button>

        <div v-if="addingCategory" class="mb-2">
            <form method="post" ref="newVariantForm" @submit.prevent="save()">
                <input 
                    type="text" 
                    v-model="categoryNome" 
                    ref="categoryInput"
                    placeholder="Nome"
                    name="nome"
                    class="form-control mb-2"
                >

                <div class="row">
                    <div class="col-md-5">
                        <select v-model="categoryTipo" class="form-control" name="tipo" ref="categoryTipoSelect">
                            <option value="true">Múltipla escolha</option>
                            <option value="false">Escolha única</option>
                        </select>
                    </div>

                    <div class="col-md-4">
                        <input 
                            type="number" 
                            placeholder="Máximo"
                            min="1" 
                            v-model="categoryMaxSelect" 
                            class="form-control" 
                            name="maximo"
                            :disabled="categoryTipo == 'false'"
                        >
                    </div>

                    <div class="col-md-3 text-right">
                        <div class="btn-group">
                            <button class="btn btn-success" type="submit"><i class="fa fa-check"></i></button>
                            <button class="btn btn-danger" @click="stopEditing()"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <draggable
            :list="thisVariants"
            @end="onDragEnd()"
            handle=".handle"
        >
            <transition-group name="flip-list">
                <cardapio-variantes-categoria
                    v-for="(v, index) in thisVariants"
                    :key="v._id"
                    :category="v"
                    :product="product"
                    :index="index"
                    ref="variantsCategories"
                />
            </transition-group>
        </draggable>
    </div>
</template>

<script>
import draggable from 'vuedraggable';
import axios from 'axios';

export default {
    props: [
        'variants',
        'product',
    ],
    components: {
        draggable,
    },
    data() {
        return {
            thisVariants: this.variants,
            addingCategory: false,
            categoryNome: null,
            categoryTipo: 'true',
            categoryMaxSelect: null,
        }
    },
    watch: {
        categoryTipo: function(val){
            if (val == 'false') {
                this.categoryMaxSelect = null;
            }
        }
    },
    methods: {
        onDragEnd() {
            this.reorderCategories();
        },
        reorderCategories() {
            for (var index in this.thisVariants) {
                this.thisVariants[index].posicao = index;
            }

            var data = {
                product_id: this.product._id,
                variants: this.thisVariants,
            };

            axios.post('/cardapio/variants/reorder', data);
        },
        addCategory() {
            this.addingCategory = true;

            this.$nextTick(() => {
                this.setNewCategoryValidation();

                $(this.$refs.categoryInput).focus();
            })
        },
        save() {
            if ($(this.$refs.newVariantForm).valid()) {
                var category = {
                    nome: this.categoryNome,
                    tipo: this.categoryTipo,
                    maxSelect: this.categoryMaxSelect,
                    posicao: 0,
                    habilitado: true,
                    itens_variante: [],
                };
    
                var data = {
                    product_id: this.product._id,
                    nome: this.categoryNome,
                    tipo: this.categoryTipo,
                    maxSelect: this.categoryMaxSelect,
                };
    
                if (!this.thisVariants) {
                    this.thisVariants = [];
                }
    
                axios.post('/cardapio/variants/', data).then(response => {
                    this.thisVariants.unshift(category);
    
                    this.thisVariants[0]._id = response.data._id;
    
                    this.reorderCategories();
                });
    
                this.stopEditing();
            }
        },
        stopEditing() {
            this.addingCategory = false;

            this.categoryNome = null;
            this.categoryTipo = 'true';
            this.categoryMaxSelect = null;
        },
        setNewCategoryValidation() {
            $(this.$refs.newVariantForm).validate({
                rules: {
                    nome: 'required',
                    maximo: {
                        required: () => $(this.$refs.categoryTipoSelect).val() == 'true',
                    },
                },
                errorPlacement: () => true,
            });
        }
    }
}
</script>