<%= form_for @mesa, html: { id: 'table-form' } do |f| %>

<% if @mesa.new_record? %>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Adicionar mesa</h3>
        </div>

        <div class="card-body">
            <div class="form-group">
                <%= f.label 'numero', 'Número' %>
                <%= f.text_field 'numero', class: 'form-control' %>
            </div>
        </div>
    </div>
<% else %>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <%= f.label :numero, 'Número' %>
                        <%= f.text_field :numero, class: 'form-control' %>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <%= f.label :status, 'Status' %>
                        <%= f.select :status, Table.status.options, {}, {class: 'form-control'} %>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>

<button type="submit" class="btn btn-success btn-lg"><i class="fa fa-check"></i> Salvar</button>

<% end %>