<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <table id="tables-list" class="table table-hover table-sm">
          <thead>
            <tr>
              <th>Número</th>
              <th>Status</th>
              <th data-orderable="false"></th>
            </tr>
          </thead>
          <tbody>
            <% @tables.each do |t| %>
              <tr>
                <td><%= sprintf '%04d', t.numero %></td>
                <td><%= t.status_text %></td>
                <td>
                    <div class="table-actions">
                        <% if policy(t).edit? %>
                            <a href="<%= edit_table_path t %>" class="btn btn-primary btn-sm"><i class="fa fa-pencil-alt"></i> Editar</a>
                        <%end%>

                        <% if policy(t).destroy? %>
                            <%= link_to table_path(t), method: :delete, data: { confirm: 'Tem certeza que deseja excluir essa mesa?' }, class: 'btn btn-danger btn-sm' do %>
                                <i class="fa fa-trash"></i> Excluir
                            <%end%>
                        <%end%>
                    </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <%= render 'form' %>
  </div>
</div>