<div class="card raw-card">
  <div class="card-body">
    <% if !User.exists? %>
      <h2 class="text-center">Primeiro usuário</h2>

      <p class="text-center">Nenhum usuário cadastrado, favor inserir o primeiro</p>

      <%= form_for User.new, url: users_save_first_user_path, method: 'post', html: { id: 'first-user-form' } do |f| %>
        <div class="form-group">
          <%= f.label :nome, 'Nome' %>
          <%= f.text_field :nome, autofocus: true, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :email, 'E-mail' %>
          <%= f.text_field :email, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password, 'Senha' %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :confirm_password, 'Repita a Senha' %>
          <%= f.password_field :confirm_password, class: 'form-control' %>
        </div>

        <button type="submit" class="btn btn-primary btn-block">Salvar e entrar</button>
      <% end %>
    <% else %>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :email, 'E-mail' %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password, 'Senha' %>
          <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
        </div>

        <div class="row align-items-center">
          <div class="col-md-6">
            <% if devise_mapping.rememberable? -%>
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me, 'Manter conectado' %>
            <% end -%>
          </div>

          <div class="col-md-6 text-right">
            <button class="btn btn-primary">Entrar</button>
          </div>
        </div>
      <% end %>
    <% end %>

    <% if alert %>
      <div class="alert alert-danger my-2"><%= alert %></div>
    <% end %>
  </div>
</div>