<%= form_with(model: produto, local: true, html: { id: "produto-form" }) do |f| %>

<% if !@produto.new_record? %>
    <%= f.hidden_field :id %>
<% end %>

<%= f.hidden_field :subcategorias_id %>

<div class="card">
    <div class="card-body">
        <div class="form-group">
            <%= f.label :nome, 'Nome' %>
            <%= f.text_field :nome, class: 'form-control', autofocus: true %>
        </div>

        <div class="form-group">
            <%= f.label :descricao, 'Descrição' %>
            <%= f.text_area :descricao, class: 'form-control', rows: 5 %>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <%= f.label :tipo, 'Saída' %>
                    <%= f.select :tipo, Produto.tipo.options, {}, {class: 'form-control'} %>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <%= f.label :valor_final, 'Valor' %>
                    <%= f.text_field :valor_final, class: "form-control", value: @produto.valor_final_text %>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <%= f.label :valor_promocional, 'Valor Promocional' %>
                    <%= f.text_field :valor_promocional, class: "form-control", value: @produto.valor_promocional_text %>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <%= f.label :imagem, 'Imagem' %>
                    <%= f.file_field :imagem, class: 'form-control' %>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <%= f.label :gif, 'GIF' %>
                    <%= f.file_field :gif, class: 'form-control' %>
                </div>
            </div>
        </div>
    </div>
</div>

<button type="submit" class="btn btn-success btn-lg mb-3"><i class="fa fa-check"></i> Salvar</button>

<% end %>
