<div class="row my-2">
    <div class="col-md-6">
        <% if policy(:produto).create? %>
            <a href="<%= new_produto_path %>" class="btn btn-primary"><i class="fa fa-plus"></i> Novo Produto</a>
        <% end %>
    </div>
</div>
<% if !@produtos.empty? %>

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table id="produtos-list" class="table table-hover table-sm">
            <thead>
              <tr>
                <td>Produto</td>
                <td>Subcategoria</td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              <% @produtos.each do |produto| %>
                <tr>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" <%= produto.habilitado==true ? 'checked' : '' %>  data-produto-id="<%= produto.id %>" data-subcategoria-id="<%#= produto.subcategoria.id %>" class="produto-habilitado-toggle custom-control-input" id="<%= produto.id%>">
                            <label class="custom-control-label" for="<%= produto.id%>"><%= produto.nome%></label>
                        </div>
                    </td>
                  <td>
                    <%#= produto.subcategoria.nome%>
                  </td>
                  <td class="text-right">
                    <% if policy(produto).edit? %>
                      <%= link_to produto_variantes_path(produto), class: 'btn btn-secondary btn-sm' do %>
                        <i class="fa fa-align-justify"></i> Variantes
                      <%end%>
                      <%= link_to edit_produto_path(produto), class: 'btn btn-primary btn-sm' do %>
                        <i class="fa fa-pencil-alt"></i> Editar
                      <%end%>
                    <% end %>
                    <% if policy(produto).destroy? %>
                      <%= link_to produto, method: :delete, data: { confirm: 'Tem certeza que deseja remover?' }, class: 'btn btn-danger btn-sm' do %>
                        <i class="fa fa-trash"></i> Excluir
                      <%end%>
                    <%end%>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<% else %>
    <div class="empty-data-container">
        <i class="fas fa-clipboard-list fa-9x"></i>
        <p>Nenhum produto encontrado</p>
    </div>
<% end %>