@import "bootstrap";
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import "font_awesome5_webfont";
@import "font_awesome5.css";
@import "datatables/jquery.dataTables";
@import "datatables/dataTables.bootstrap4";
@import "./vendor/adminlte.min.css";
@import "jquery-ui/core";
@import "jquery-ui/theme";
@import "jquery-ui/datepicker";
@import "select2";
@import "./vendor/daterangepicker.css";
@import "./vendor/select2-bootstrap4.min.css";
@import "chosen";
@import "summernote-bs4";
@import "./colors";
@import "*";

@font-face {
    font-family: Viga;
    src: asset-url("Viga-Regular.ttf");
}

@font-face {
    font-family: Roboto;
    src: asset-url("Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto;
    src: asset-url("Roboto-Bold.ttf");
    font-weight: bold;
}

body,
html {
    height: 100% !important;
}

.body-raw {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    background: asset-url("bg_login.jpg") repeat top center;
    display: flex;
    align-items: center;
    justify-content: center;

    .raw-card {
        width: 400px;
    }
}

form {
    input.error,
    select.error,
    textarea.error {
        border-color: $dangerColor;
    }

    label.error {
        color: $dangerColor;
        margin-top: 3px;
    }

    .error .select2-selection {
        border-color: $dangerColor !important;
    }
}

.card-header {
    background-color: #fff;

    .card-title {
        margin-bottom: 0;
    }
}

.table-actions {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 0 -2px;

    a {
        margin-right: 2px;
        margin-left: 2px;
        margin-bottom: 5px;
    }
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0;
    margin: 0;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background: none;
}

// .select2 {
//     width: 100% !important;
// }

.select2-container .select2-selection--single .select2-selection__rendered {
    padding: 0.3rem 0.75rem;
}

.pagination-container {
    nav {
        display: inline-block;
    }
}

.empty-data-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15vh 0;
    color: #bababa;

    img {
        max-height: 150px;
    }

    p {
        font-size: large;
        text-align: center;
        margin: 3vh 0;
    }
}

.balcony-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;

    @keyframes pulse-danger {
        0% {
            box-shadow: 0 0 0 0 rgba(159, 31, 51, 0.4);
        }

        70% {
            box-shadow: 0 0 0 10px rgba(159, 31, 51, 0);
        }

        100% {
            box-shadow: 0 0 0 0 rgba(159, 31, 51, 0);
        }
    }

    .balcony-header {
        background: $primaryColor;
        display: flex;
        justify-content: space-between;
        align-items: stretch;

        .logo {
            padding: 10px 25px;

            img {
                max-height: 50px;
                max-width: 100%;
            }
        }

        .menu {
            ul {
                margin: 0;
                padding: 0;
                display: flex;
                list-style-type: none;
                height: 100%;

                li {
                    height: 100%;

                    a {
                        height: 100%;
                        color: $textInPrimary;
                        font-size: 24px;
                        padding: 0 25px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        transition: background 0.3s;

                        &:hover {
                            text-decoration: none;
                            background: $primaryLightColor;
                        }

                        &.active {
                            background: $gray;
                            color: $primaryColor;
                            border-radius: 5px 5px 0 0;
                        }
                    }
                }
            }
        }
    }

    .balcony-body {
        flex: 1;
        background-color: $gray;
        padding: 10px;

        h2 {
            font-family: Viga;
            font-size: 22px;
        }
    }
}

#banners-list {
    .card-img-top {
        object-fit: cover;
    }

    .product {
        display: flex;
        align-items: center;

        img {
            height: 25px;
            border-radius: 5px;
            margin-right: 10px;
        }

        p {
            margin: 0;
            font-size: 12px;
        }
    }
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.6);
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}

.animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 25px;
    position: relative;
}

.animated-image-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 250px;
    position: relative;
}

.card-img-top {
    object-fit: cover;
    height: 150px;
}

.block-chart-container {
    height: 50vh;
}

.note-editor.note-frame {
    border: 1px solid rgba(0, 0, 0, 0.125) !important;

    &.card {
        box-shadow: none;
    }
}

.ui-datepicker {
	z-index: 999 !important;
}

.nav-tabs {
    flex-wrap: nowrap;
    white-space: nowrap;
    max-width: 500px;
    overflow-x: auto;
    overflow-y: hidden;
}

.table-actions {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    align-items: center;
}