$cardActive: #2980b9;
$textInCardActive: #fff;

$cardDanger: #9f1f33;
$cardDangerDark: #831a2a;
$textInCardDanger: #fff;

$cardWarning: #f1a734;
$cardWarningDark: #c6892b;
$textInCardWarning: #fff;

.balcony-main-filters {
    margin: 15px 0;

    ul {
        margin: 0 -10px;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        justify-content: space-between;

        li {
            flex: 1;
            margin: 0 10px;

            a {
                color: $defaultText;
                text-align: center;
                display: block;
                font-family: Viga;
                font-size: 16px;

                .card {
                    transition: all 0.3s;

                    .card-body {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .badge-pill {
                            margin: 0 5px;
                            background: $cardActive;
                            color: $textInCardActive;
                        }
                    }
                }

                &.active {
                    .card {
                        background: $cardActive !important;
                        color: $textInCardActive;

                        .badge-pill {
                            background: #fff;
                            color: $defaultText;
                        }
                    }
                }

                &.danger {
                    .card {
                        background: $cardDanger !important;
                        color: $textInCardDanger;
                        box-shadow: 0 0 0 rgba(159, 31, 51, 0.4);
                        animation: pulse-danger 1s infinite;

                        .badge-pill {
                            background: #fff;
                            color: $defaultText;
                        }
                    }
                }

                &.warning {
                    .card {
                        background: $cardWarning !important;
                        color: $textInCardWarning;
                        box-shadow: 0 0 0 rgba(241, 167, 52, 0.4);
                        animation: pulse-danger 1s infinite;

                        .badge-pill {
                            background: #fff;
                            color: $defaultText;
                        }
                    }
                }

                &:hover {
                    text-decoration: none;

                    .card {
                        background: #e8e8e8;
                    }
                }
            }
        }
    }
}

.requests-list {
    color: $defaultText;
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    opacity: 0.85;

    .orders-list {
        .card {
            background: $darkGray;

            &.danger {
                background: $cardDangerDark;
            }
        }

        .card-header {
            background: #fff;
        }

        .request-item {
            // border-right: solid 1px $gray2;
            padding: 0 15px;

            &:last-of-type {
                border-right: 0;
            }
        }

        .show-more {
            font-size: 30px;

            a {
                color: $defaultText;
                display: block;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        .time {
            small {
                font-size: 12px;
                color: $defaultText;
                margin-top: 4px;
                display: block;
                text-transform: uppercase;
                opacity: 0.68;
            }
        }

        .table {
            font-size: 26px;
            line-height: 25px;
            margin: 0;

            small {
                display: block;
                font-size: 18px;
            }
        }

        .status {
            .chosen-container {
                font-size: 18px;
                width: 100% !important;

                .chosen-single {
                    background: transparent;
                    border: 0;
                    box-shadow: none;
                    display: flex;
                    flex-direction: row-reverse;

                    span {
                        flex: 1;
                    }

                    div {
                        position: relative;

                        b {
                            background: none;
                        }

                        &:before {
                            content: '\f078';
                            font-family: 'Font Awesome 5 Free';
                            font-weight: 900;
                        }
                    }
                }

                .chosen-drop {
                    background: #e1e1e1;
                    border: solid 1px #979797;

                    .chosen-results {
                        margin: 0;
                        padding: 0;

                        .active-result {
                            border-bottom: solid 1px #979797;
                            padding: 15px;

                            &.highlighted {
                                background: #cdcdcd;
                                color: $defaultText;
                            }
                        }
                    }
                }
            }
        }

        .card-body {
            color: #fff;

            .request-products-list {
                margin-bottom: 10vh;

                ul {
                    margin: 0;
                    padding: 0;
                    list-style-type: none;

                    li {
                        margin-bottom: 20px;
                    }

                    .product-count {
                        text-align: center;
                        font-size: 24px;
                        font-weight: bold;
                    }

                    .product-title {
                        font-size: 21px;
                        font-weight: bold;
                        border-bottom: solid 1px $gray2;
                        padding-bottom: 5px;
                        text-align: left;

                        strong {
                            font-size: 32px;
                        }
                    }

                    .product-details {
                        font-size: 17px;
                        font-weight: 500;
                        text-align: left;
                    }

                    .product-variants {
                        ul {
                            list-style-type: disc;
                            margin-left: 40px;

                            li {
                                margin-bottom: 0;

                                strong {
                                    font-size: 22px;
                                }
                            }
                        }
                    }
                }
            }

            .request-footer {
                border-top: solid 1px $gray2;

                h2 {
                    opacity: 0.72;
                    font-size: 16px;
                    font-weight: 300;
                    margin: 10px 0 20px 0;
                    text-transform: uppercase;
                }

                .with-border {
                    border-right: solid 1px $gray2;
                }

                .observations {
                    font-size: 17px;
                    font-weight: 500;
                    text-align: justify;
                }

                .estimated-time {
                    font-size: 32px;
                    font-weight: 500;
                }
            }
        }
    }

    .danger {
        background: $cardDangerDark;
        box-shadow: 0 0 0 rgba(159, 31, 51, 0.4);
        animation: pulse-danger 1s infinite;

        .card-header {
            background: $cardDanger;
            color: $textInCardDanger;
        }

        .show-more {
            a {
                color: $textInCardDanger;
            }
        }

        .time {
            small {
                color: $textInCardDanger;
            }
        }

        .table {
            color: $textInCardDanger;
        }

        .order-status-actions {
            a {
                color: $textInCardDanger !important;
            }
        }
    }
}

#waiter-called-container {
    text-align: center;
    margin: 10vh;
    font-size: 28px;
    font-weight: bolder;

    img {
        max-height: 150px;
        margin-bottom: 15px;
    }
}

.checkout-button {
    position: relative;

    .checkout-button-counter {
        position: absolute;
        bottom: 5px;
        right: 5px;
    }
}

.table-list {
    // .tab-pane{
    //     padding: 0;
    // }

    // .table{
    //     font-size: 12px !important;
    // }

    // .card-footer{
    //     padding: 0.75rem 0.5rem;
    //     .btn{
    //         margin: 0 5px;
    //     }
    // }

    // .card-body{
    //     padding: 0;
    // }

    // .body-table{
    //     max-height: 225px;
    // }

    .card {
        background: #f7f7f7;

        .card-header {
            border: 0;
            background: inherit;
        }

        .card-body {
            background: #fff;
        }

        .card-footer {
            background: #fff;
        }

        .tab-content {
            background: #fff;
        }

        .nav-link {
            color: inherit;
        }
    }

    .empty-data-container {
        padding: 20px;
        margin: 5vh 0;
    }

    .card-title {
        padding: 0.25rem 0.4rem;
        margin: 0px;
        font-family: Viga;
        font-size: 18px;
    }
}

.comanda-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5vh;

    .card {
        text-align: center;

        .card-body {
            padding: 10vh;
        }

        img {
            height: 100px;
        }

        p {
            margin: 10px 0;
            text-align: center;
            font-size: large;
        }
    }
}

.comanda-modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10vh;
    text-align: center;
    flex-direction: column;

    img {
        height: 100px;
    }

    p {
        margin: 15px 0;
        font-size: large;
    }
}

.number-spinner-container {
    display: inline-flex;
    height: 36px;

    button {
        height: 100%;
        width: 38px;
        border: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        &:disabled,
        &[disabled] {
            opacity: 0.38;
        }

        &:active,
        &:focus {
            outline: 0;
        }

        i {
            font-size: 18px;
        }

        &.dec-button {
            border-radius: 4px 0 0 4px;
            background-color: #f39200;

            &:hover:enabled {
                background-color: #da8505;
            }

            i {
                color: #2a2a2a;
            }
        }

        &.inc-button {
            border-radius: 0 4px 4px 0;
            background-color: #ab1e35;

            &:hover:enabled {
                background-color: #b5394d;
            }

            i {
                color: #fff;
            }
        }
    }

    .number-container {
        height: 100%;
        background: #dfdbd8;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #2a2a2a;
        font-size: 14px;
        width: 64px;
    }
}

.order-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @media (max-width: 542px) {
        flex-direction: column;
    }

    .show-more {
        width: 48px;
        text-align: center;
    }

    .pedido-number {
        flex: 2;
        margin: 0 16px;

        @media (max-width: 542px) {
            margin: 16px 0;
        }
    }

    .time {
        flex: 2;
        display: flex;
        flex-wrap: wrap;

        @media (max-width: 542px) {
            margin: 16px 0;
        }

        small {
            font-size: 12px;
            color: $defaultText;
            margin-top: 4px;
            display: block;
            text-transform: uppercase;
            opacity: 0.68;
        }

        .created {
            flex: 1;
            margin: 0 16px;
        }

        .elapsed {
            flex: 1;
            margin: 0 16px;
        }
    }

    .table-number {
        flex: 2;
        margin: 0 16px;
        font-size: 26px;
        line-height: 25px;

        @media (max-width: 542px) {
            margin: 16px 0;
        }

        small {
            display: block;
            font-size: 18px;
        }
    }

    .actions {
        flex: 4;

        .order-status-actions {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: nowrap;
            justify-content: flex-end;

            @media (max-width: 858px) {
                margin: 16px 0;
                justify-content: center;
            }

            @media (max-width: 542px) {
                flex-wrap: wrap;
            }

            li {
                margin: 0 24px;

                @media (max-width: 542px) {
                    margin: 24px;
                }

                a {
                    display: flex;
                    flex-direction: column;
                    font-size: 12px;
                    text-transform: uppercase;
                    text-align: center;
                    transition: all 0.3s;

                    i {
                        font-size: 24px;
                        margin-bottom: 4px;
                        text-align: center;
                    }

                    &:hover {
                        text-decoration: none;
                    }

                    &.inactive {
                        opacity: 0.38;
                    }
                }
            }
        }
    }
}
