#accordion{
    .card-body {
        flex: 1 1 auto;
        padding: 0.5rem 1.25rem;
    }

    .collapse{
        background: #fafafa;
    }

    .custom-control {
        position: relative;
        display: flex;
        min-height: 1.5rem;
        padding-left: 1.5rem;
        align-items: center;
    }

    .accordionVariante{
    }
    .li-itens-variantes, .div-variantes{
        padding: 5px 25px;
    }

    .accordionProduto{
        padding-left: 25px;
        ul{
            margin:0px;
            padding: 0px;
            list-style: none;  
        }
    }
}

.categories-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    .category-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        .category-name {
            display: flex;
            align-items: center;

            a {
                color: inherit;
            }
        }
    }

    li.selected {
        background: #E4E5E7;
    }

    .subcategory-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        .subcategory-name {
            display: flex;
            align-items: center;

            a {
                color: inherit;
            }
        }
    }
}

.handle {
    cursor: move;
    color: #BCC0C3;
}

.active-check {
    display: none;
}

.active-check + label {
    margin: 0 10px 0 0;
    transition: all 0.5s;
}

.active-check + label:before {
    content: "\f057";
    font-family: 'Font Awesome 5 Free';
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    color: #BCC0C3;
}

.active-check:checked + label:before {
    content: "\f058";
    color: #28a745;
}

.flip-list-move {
    transition: transform 0.2s;
}

.products-container {
    position: relative;

    .disabled-mask {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 999;
        background: rgba(244, 246, 249, 0.8);
        transition: all 0.5s;
    }

    .products-list {
        .card-img-top {
            height: 250px;
            object-fit: cover;
        }
    }
}

.variant-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .variant-name {
        display: flex;
        align-items: center;

        a {
            color: inherit;
        }
    }

    .variant-info {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.variant-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    p {
        margin: 0;
    }

    .variant-item-name {
        display: flex;
        align-items: center;
    }

    .variant-item-info {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}