<%= form_for([@categoria, @subcategoria], html: { id: "subcategoria" }) do |f| %>
  
  <% if @subcategoria.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subcategoria.errors.count, "error") %> prohibited this subcategoria from being saved:</h2>

      <ul>
      <% @subcategoria.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card">
      <div class="card-body">
          <div class="form-group">
              <%= f.label :nome, 'Subcategoria' %>
              <%= f.text_field :nome, class: 'form-control', autofocus: true %>
              <%= f.hidden_field :categoria_id, :value => @categoria.id %>
          </div>
      </div>
  </div>

  <button type="submit" class="btn btn-success btn-lg mb-3"><i class="fa fa-check"></i> Salvar</button>

<% end %>