<div class="row my-2">
    <div class="col-md-6">
        <% if policy(:categoria).create? %>
            <a href="<%= new_categoria_subcategoria_path %>" class="btn btn-primary"><i class="fa fa-plus"></i> Nova Subcategoria</a>
        <% end %>
    </div>
</div>
<% if !@subcategorias.empty? %>

<div class="card">
  <div class="row">
    <div class="card-body">
      <div class="col-md-12">
          <div class="table-responsive">
            <table id="categorias-list" class="table table-hover table-sm">
            <thead>
              <tr>
                <td>
                  Nome
                </td>
                <td>
                  
                </td>
              </tr>
            </thead>
              <tbody>
                <% @subcategorias.each do |subcategoria| %>
                  <tr>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" <%= subcategoria.habilitado==true ? 'checked' : '' %> data-categoria-id="<%= subcategoria.categoria.id %>" class="sub-categoria-habilitado-toggle custom-control-input" id="<%= subcategoria.id%>">
                        <label class="custom-control-label" for="<%= subcategoria.id%>"><%= subcategoria.nome%></label>
                      </div>
                    </td>
                    <td class="text-right">
                      <% if policy(subcategoria).edit? %>
                        <%= link_to edit_categoria_subcategoria_path(@categoria, subcategoria), class: 'btn btn-primary btn-sm' do %>
                          <i class="fa fa-pencil-alt"></i> Editar
                        <%end%>
                      <% end %>
                      <% if policy(subcategoria).destroy? %>
                        <%= link_to categoria_subcategoria_path(@categoria, subcategoria), method: :delete, data: { confirm: 'Tem certeza que deseja remover?' }, class: 'btn btn-danger btn-sm' do %>
                          <i class="fa fa-trash"></i> Excluir
                        <%end%>
                      <%end%>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
      </div>
    </div>
  </div>
</div>
<% else %>
    <div class="empty-data-container">
        <i class="fas fa-align-justify fa-9x"></i>
        <p>Nenhuma subcategoria encontrada</p>
    </div>
<% end %>