<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Menu Digital</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<div class="balcony-wrapper" id="app">
    <header class="balcony-header">
        <div class="logo">
            <a href="/"><%= image_tag 'logo.png' %></a>
        </div>

        <nav class="menu">
            <ul>
                <%= render 'menus/balcony-menu' %>
            </ul>
        </nav>
    </header>

    <main class="balcony-body">
        <%= yield %>

        <waiter-call :user="<%= current_user.to_json %>"></waiter-call>
    </main>
</div>

<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'app_vue' %>
</body>
</html>